<style type="text/css">
	.button_{
	    display: inline-block!important;
	    min-width: 120px;
	    height: 30px;
	    line-height: 28px;
	    padding: 0;
	}
</style>
<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-comments fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">财务信息</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<div class="admin_ui_search">
				<div style="float:left;width:20%height:30px;line-height: 30px;">
					今日统计
				</div>
				<div style="float:right;height:30px;">
					<a href="#/accountMenuDetail.html" class="admin_ui_button admin_ui_button_green button_">查看更多</a>
				</div>
			</div>
			<div class="admin_ui_search">
				<div style="float:left;width:20%;line-height: 30px;"><span>今日提现总额:</span>{{dataSource_statistics.withdraw}}</div>
				<div style="float:left;width:20%;line-height: 30px;"><span>今日充值总额:</span>{{dataSource_statistics.recharge}}</div>
				<div style="float:left;width:20%;line-height: 30px;"><span>今日消费总额:</span>{{dataSource_statistics.consumption}}</div>
				<div style="float:left;width:20%;line-height: 30px;"><span>所有代理商账户余额:</span>{{dataSource_statistics.account}}</div>
				<div style="float:left;width:20%;line-height: 30px;"><span>押金总额:</span>{{dataSource_statistics.deposit}}</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>交易单号</th>
						<th>交易时间</th>
						<th>金额</th>
						<th>交易类型</th>
						<th>操作人</th>
						<th>联系方式</th>
						<th>代理商名称</th>
					</tr>
				</thead>
				<tbody id="commentManagement_commentData" class="admin_ui_table_hoverEffect">
					<tr v-for="(comment,index) in dataSource_filter" v-show="index >= (pageIndex-1)*10 && index < pageIndex*10">
						<td>{{comment.id}}</td>
						<td>
							{{stamp2time(comment.success_time)}}
						</td>
						<td>{{comment.value}}</td>
						<td>
							{{comment.type}}
						</td>
						<td>
							{{comment.business.contact}}
						</td>
						<td>
							{{comment.business.phone}}
						</td>
						<td>
							{{comment.business.name}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1,
		dataSource_statistics:[],
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.type,_data.value, _data.business.name, _data.business.contact],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count: 3,
			    jump: true,
				coping: true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			    	self.pageIndex = index;
			    }
			});
		},
	},
	created: function(){
		var self = this;
		$.when(getBill()).done(function(data){
			if(data.state == 0){
				self.dataSource = data.data;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
		$.when(getTodayStatistics()).done(function(data){
			self.dataSource_statistics=data.data;
		})
	}
});
</script>

















