<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-file-image-o fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">企业同事管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<!-- <div style="float:left;height:30px;">
					<a href="#/agentsManagementDetail.html"  class="admin_ui_button admin_ui_button_white button_" style="display: inline-block!important; min-width: 120px; height: 30px; line-height: 28px; padding: 0;">新增</a>
				</div> -->
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>id</th>
						<th>同事名称</th>
						<th>邀请码</th>
						<th>企业名称</th>
						<th>企业负责人</th>
						<th>企业邀请码</th>
						<th>联系方式</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="showImageManagement_data" class="admin_ui_table_hoverEffect">
					<tr v-for="show in dataSource_filter">
						<td>{{show.id}}</td>
						<td>{{show.name}}</td>
						<td>{{show.code}}</td>
						<td>{{show.company?show.company.name:""}}</td>
						<td>{{show.company?show.company.code:""}}</td>
						<td>{{show.company?show.company.contact:""}}</td>	
						<td>{{show.company?show.company.phone:""}}</td>
						
						<td class="admin_ui_table_action">
							<div class="iconButton removeIcon" @click="removeWebsite($index)">
								<i class="fa fa-remove"></i>
								启用
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.id, _data.name, _data.code, _data.company.name, _data.company.code, _data.company.contact, _data.company.phone],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count:3,
			    jump:true,
				coping:true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			        self.pageIndex = index;
			    }
			});
		},
		topShowButton: function(index){
			var self = this;
			var showId = self.dataSource_filter[index].id,
				value = self.dataSource_filter[index]._top;
			if(!value){
				// 取消置顶
				$.when(cancelTopShow(showId)).done(function(data){
					if(data.state == 0){
						alert("取消置顶成功！");
					}
					else{
						self.dataSource_filter[index]._top = true;
					}
				});
			}
			else{
				// 置顶
				$.when(topShow(showId)).done(function(data){
					if(data.state == 0){
						alert("置顶成功！");
					}
					else{
						self.dataSource_filter[index]._top = false;
					}
				});
			}
		},
		addShowImageAsBottomSlideImage: function(index){
			var self = this;
			var showId = self.dataSource_filter[index].id;
			// 设为底部轮播图
			$.when(addShowImageAsBottomSlideImage(showId)).done(function(data){
				if(data.state == 0){
					alert("设置成功！");
				}
			});
		}
	},
	created: function(){
		var self = this;
		$.when(getUserInfo("企业同事")).done(function(data){
			if(data.state == 0){
				self.dataSource = data.data;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
	}
});
	
	$("#showImageManagement_data").on('click','[data-addShowImageAsBottomSlideImage]',function(){
		var $this = $(this);
		var showId = $this.closest("tr").attr("data-showId");
		// 设为底部轮播图
		$.when(addShowImageAsBottomSlideImage(showId)).done(function(data){
			if(data.state == 0){
				alert("设置成功！");
			}
		});
	});
</script>