<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-file-image-o fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">企业管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:left;height:30px;">
					<a href="#/companyManagementDetail.html"  class="admin_ui_button admin_ui_button_white button_" style="display: inline-block!important; min-width: 120px; height: 30px; line-height: 28px; padding: 0;">新增企业</a>
				</div>
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>id</th>
						<th>企业名称</th>
						<!-- <th>
							<div class="admin_ui_select" id="">
								<select v-model="selected3" id="register_select" style="width: 100%;font-size: 14px;" v-on:change="filterRegister">
									<option value="1">已注册</option>
									<option value="0">已邀请未注册</option>
								</select>
							</div>
						</th> -->
						<th>邀请码</th>
						<th>负责人</th>
						<th>代理商</th>
						<th>代理商邀请码</th>
						<th>行业标签</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="showImageManagement_data" class="admin_ui_table_hoverEffect">
					<tr v-for="(show,index) in dataSource_filter" v-show="index >= (pageIndex-1)*10 && index < pageIndex*10">
						<td>{{show.id}}</td>
						<td>{{show.name}}</td>
						<!-- <td>{{show.read}}</td>	 -->
						<td>{{show.code}}</td>
						<td>{{show.contact}}</td>
						<td>{{show.business.name}}</td>
						<td>{{show.business.code}}</td>
						<td>{{show.label?show.label.name:""}}</td>
						<!-- <td>{{show.label.name}}</td> -->
						<td class="admin_ui_table_action">
							<a :href="getUrl(show.business.name,show.id)" class="iconButton checkIcon">
								<i class="fa fa-pencil"></i>
								编辑
							</a>
							<div class="iconButton removeIcon"  @click="changeUserState(show.id,index,show.enable)">
								<span>{{show.enable?'禁用':'启用'}}</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>

var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		dataSource_label: [],
		dataSource_filter_label: [],		
		pageIndex: 1
	},
	computed: {
	},
	methods: {
		getUrl:function(val1,val2){
			return '#/companyManagementDetail.html?id='+val2;
		},
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.id, _data.name, _data.name,_data.code,_data.contact, _data.business.name, _data.business.code],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count:3,
			    jump:true,
				coping:true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			        self.pageIndex = index;
			    }
			});
		},
		changeUserState: function(id,index,enable){
			if(enable){
				if(confirm("您确定要禁用该用户吗？")){
					$.when(unbindCompany(id)).done(function(data){
						if(data.state == 0){
							alert("账户已禁用！");
							window.location.reload();
						}
					});
				}
			}
			else{
				if(confirm("您确定要启用该用户吗？")){
					$.when(bindCompany(id)).done(function(data){
						if(data.state == 0){
							alert("账户已启用！");
							window.location.reload();
						}
					});
				}
			}
		}
	},
	created: function(){
		var self = this;
		$.when(getCompany()).done(function(data){
			if(data.state == 0){
				self.dataSource = data.data;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
			
		});
	}
});
</script>