<style type="text/css">
	.button_{
	    display: inline-block!important;
	    min-width: 50px;
	    height: 30px;
	    line-height: 28px;
	    padding: 0;
	}
</style>
<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-tags fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">标签管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:left;height:30px;">
					<input v-model="addword" @keyup.13="add(dataSource_filter)" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input">
					<span @click="add(dataSource_filter)" class="admin_ui_button admin_ui_button_white button_">新增</span>
				</div>
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th>标签id</th>
						<th>标签名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="labelManagement_data" class="admin_ui_table_hoverEffect">
					<tr v-for="(data,index) in dataSource_filter" v-show="index >= (pageIndex-1)*10 && index < pageIndex*10">
						<td>{{data.id}}</td>
						<td>
							{{data.name}}
						</td>
						<td class="admin_ui_table_action">
							<div class="iconButton removeIcon deleteCommentButton" @click="deleteLabelButton(index)">
								<i class="fa fa-remove"></i>
								删除
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		addword:"",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1,
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.id,_data.name],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		add:function(data_new){
			var self = this;
			var name=self.addword;
			var hasSome=false;
			if(name){
				// $.ajax({
				// 	url:'/model/save/Label?name='+name,
				// 	type:'POST',
				// 	success:function(data){
				// 		var data_={in_time: data.time, name:name, id:data.id}
				// 		self.dataSource_filter.push(data_)
				// 	}
				// })

				for(i=0;i<data_new.length;i++){
					if(name==data_new[i].name){
						hasSome=true;
						alert("该标签已存在,请重新添加！");
						self.addword="";
					}
				}
				if(!hasSome){
					$.ajax({
						url:'/model/save/Label?name='+name,
						type:'POST',
						success:function(data){
							var data_={in_time: data.time, name:name, id:data.id}
							self.dataSource_filter.push(data_)
						}
					})
				}
			}
			self.refreshTable();
		},//新增实现
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count: 3,
			    jump: true,
				coping: true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			    	self.pageIndex = index;
			    }
			});
		},
		deleteLabelButton: function(index){
			var self = this;
			if(confirm("您确定要删除该标签吗？")){
				$.when(deleteLabel(self.dataSource_filter[index].id)).done(function(data){
					if(data.state == 0){
						alert("删除成功");
						self.dataSource_filter.splice(index,1);
						self.refreshTable();
					}
				});
			}
		},
	},
	created: function(){
		var self = this;
		$.when(getLabel()).done(function(data){
			if(data.state == 0){
				console.log(data);
				self.dataSource = data.data;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
	}//查询实现
});
</script>

















