<style type="text/css">
	.button_{
	    display: inline-block!important;
	    min-width: 80px;
	    height: 30px;
	    line-height: 28px;
	    padding: 0;
	}
</style>
<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-file-image-o fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">消息管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:left;height:30px;">
					<a href="#/slideImages.html" class="admin_ui_button admin_ui_button_white button_">返回</a>
				</div>
				<div style="float:right;height:30px;">
					<a href="#/slideImages.html" class="admin_ui_button admin_ui_button_green button_ submitBtn">保存</a>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<th></th>
						<th>文章标题</th>
						<th>推送时间</th>
						<th>推送范围</th>
					</tr>
				</thead>
				<tbody id="showImageManagement_data" class="admin_ui_table_hoverEffect">
					<tr v-for="(show,index) in dataSource_filter" v-show="index >= (pageIndex-1)*10 && index < pageIndex*10">
						<td><input type="radio" name="article" :data-id="show.id"></td>
						<td>{{show.title}}</td>
						<td>{{show.in_time}}</td>
						<td v-for="(show_,index) in show.business">{{show_.name}}</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		business_filter:[],
		pageIndex: 1
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.title],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count:3,
			    jump:true,
				coping:true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			        self.pageIndex = index;
			    }
			});
		},
		goSomewhere:function(index){
			window.location.href='#/pushManagementDetail.html?id='+index;
		},
		deleteLabelButton: function(index){
			var self = this;
			if(confirm("您确定要删除该篇文章吗？")){
				$.when(deletePush(self.dataSource_filter[index].id)).done(function(data){
					if(data.state == 0){
						alert("删除成功");
						self.dataSource_filter.splice(index,1);
						self.refreshTable();
					}
				});
			}
		},
	},
	created: function(){
		var self = this;
		$.when(getPush()).done(function(data){
			if(data.state == 0){
				self.dataSource = data.data;
				self.dataSource_filter = self.dataSource;
				self.business_filter=self.dataSource.business;
				self.refreshTable();
			}
		});
	}
});
var id_array=window.location.hash;
var id_=id_array.split("=");
var id=id_[1];
$(".submitBtn").bind("click",function(){
	var announce=$("input[name='article']:checked").attr("data-id");
	localStorage.setItem(id,announce);
})
</script>