<style type="text/css">
	.button_{
	    display: inline-block!important;
	    min-width: 80px;
	    height: 30px;
	    line-height: 28px;
	    padding: 0;
	}
</style>
<div class="admin_content_innerBox" id="admin_content_innerBox">
	<div class="admin_scrollBox">
		<div class="admin_ui_header">
			<i class="fa fa-file-image-o fa-2x admin_ui_mainColor"></i>
			<span class="maintitle">后台账户管理</span>
		</div>	
		<div class="admin_ui_cont">
			<div class="admin_ui_search">
				<div style="float:left;height:30px;">
					<a href="#/userDetail.html" class="admin_ui_button admin_ui_button_white button_">新增</a>
				</div>
				<div style="float:right;height:30px;">
					<input v-model="keyword" @keyup.13="search" type="text" style="width:250px;height:30px;border:1px solid #ccc;margin-left:10px;" class="ui-input" id="search" placeholder="请输入关键词进行搜索">
					<i @click="search" class="fa fa-search" style="margin-left:-30px;cursor:pointer;width:20px;height:20px;" id="searching"></i>
				</div>
			</div>
			<table class="admin_ui_table">
				<thead>
					<tr>
						<!-- <th>账户id</th> -->
						<th>账户名称</th>
						<th>联系方式</th>
						<th>账户权限</th>
						<th>重置密码</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="showImageManagement_data" class="admin_ui_table_hoverEffect">
					<tr v-for="(show,index) in dataSource_filter" v-show="index >= (pageIndex-1)*10 && index < pageIndex*10">
						<!-- <td>{{show.id}}</td> -->
						<td>{{show.username}}</td>
						<td>{{show.contact}}</td>
						<td>{{show.competence}}</td>
						<td>
							<div class="admin_ui_button admin_ui_button_xs admin_ui_button_white" @click="resetPassword(show.id)">重置</div>
						</td>
						<td class="admin_ui_table_action">
							<a :href="getUrl(show.id)" class="iconButton checkIcon">
								<i class="fa fa-pencil"></i>
								修改
							</a>
							<div class="iconButton removeIcon"  @click="changeUserState(show.id,index)" :data-state="show.enable">
								<i class="fa fa-remove"></i>
								<span v-if="show.enable">{{state_1}}</span>
								<span v-else>{{state_2}}</span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="admin_ui_pagination">
				<div class="M-box pc" v-show="dataSource_filter.length>0"></div>
			</div>
		</div>
	</div>
</div>
<script>
var vm = new Tvm({
	el: '#admin_content_innerBox',
	data:{
		keyword: "",
		dataSource: [],
		dataSource_filter: [],
		pageIndex: 1,
		competence:["一般管理员","财务管理员"],
		state_1:"停用",
		state_2:"启用",
		state:"",
	},
	computed: {
	},
	methods: {
		search: function(){
			var self = this;
			self.dataSource_filter = [];
			for(index in self.dataSource){
				var _data = self.dataSource[index];
				if(self.isContainKeyword([_data.username, _data.contact,_data.competence],self.keyword)){
					self.dataSource_filter.push(_data);
				}
			}
			self.refreshTable();
		},
		isContainKeyword: function(arr,keyword){
			for(index in arr){
				if(typeof arr[index] == "undefined"){
					arr[index]="";
				}
				if(typeof arr[index] != "string"){
					arr[index] = arr[index]+"";
				}
				if(arr[index].search(keyword)>=0){
					return true;
				}
			}
			return false;
		},
		refreshTable: function(){
			var self = this;
			$('.M-box').pagination({
				totalData: self.dataSource_filter.length,
			    showData: 10,
			    current: self.pageIndex,
			    count:3,
			    jump:true,
				coping:true,
				prevContent:'<i class="fa fa-angle-left"></i>',		//上一页内容
				nextContent:'<i class="fa fa-angle-right"></i>',		//下一页内容
			    callback:function(index){
			        self.pageIndex = index;
			    }
			});
		},
		getUrl:function(val){
			return '#/userDetail.html?id='+val;
		},
		resetPassword:function(id){
			var pw="xiyoukeji";
			$.when(editpw(id,pw)).done(function(data){
				if(data.state == 0){
					alert("重置密码成功！（初始密码为：xiyoukeji）")
				}
				else{
					alert("重置密码失败！")
				}
			});
		},
		changeUserState: function(id,index){
			var self = this;
			var val=$(".removeIcon").eq(index).children("span").text();
			console.log(val);
			if(val==self.state_1){
				self.state=self.state_1;
				enable=false;
				$(".removeIcon").eq(index).children("span").text(self.state_2);
			}
			else{
				self.state=self.state_2;
				$(".removeIcon").eq(index).children("span").text(self.state_1);
				enable=true;
			}
			if(confirm("您确定要"+self.state+"该用户吗？")){
				$.when(editUserState(id,enable)).done(function(data){
					if(data.state == 0){
						alert("账户已"+self.state);
					}
				});
			}
		}
		//启用！未有api
	},
	created: function(){
		var self = this;
		$.when(getUserInfo(self.competence)).done(function(data){
			if(data.state == 0){
				self.dataSource = data.data;
				self.dataSource_filter = self.dataSource;
				self.refreshTable();
			}
		});
	}
});

</script>