<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>视频监控</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/public_b.js"></script>
</head>
<style type="text/css">
    body{
        background-color: #f3f3f3;
    }
</style>
<body>
    <div class="myworkmates">
        <div class="mui-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" v-for="user in datalist">
                    <div class="mui-slider-right mui-disabled">
                        <a class="mui-btn mui-btn-red" v-if="user.enable">停用</a>
                        <a class="mui-btn mui-btn-green" v-else>启用</a>
                    </div>
                    <div class="mui-slider-handle listContent">
                        {{user.contact}}<span class="colorred" v-if="!user.enable">(停用)</span>
                        <span class="mui-pull-right">{{user.username}}</span>
                    </div>
                </li>
                <!-- <li class="mui-table-view-cell">
                    <div class="mui-slider-right mui-disabled">
                        <a class="mui-btn mui-btn-red red">停用</a>
                        <a class="mui-btn mui-btn-green green">启用</a>
                    </div>
                    <div class="mui-slider-handle listContent">
                        <span>林大大</span>
                        <span data-type="0"></span>
                        <span class="num_">13877790001</span>
                    </div>
                </li>
                <li class="mui-table-view-cell">
                    <div class="mui-slider-handle listContent">
                        <span>郑大大</span>
                        <span class="greenColor" data-type="2">(未注册)</span>
                        <span class="num_">13877790001</span>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</body>
<script>
$(function() {
    mui.init();
    var vm = new Vue({
        el: "body",
        data: {
            datalist: []
        },
        computed: {
            
        },
        methods: {
            
        },
        created: function() {
            var self = this;
            var qd = getQueryData();
            $.when(b_getBColleague()).done(function(data){
                console.log(data);
                if(data.state == 0){
                    self.datalist = data.data;
                }
            });
            
        }
    })
});
</script>
<script type="text/javascript">
    // mui(".mui-table-view").on("tap",".red",function(){
    //     $(this).removeClass("show").siblings(".green").addClass("show");
    //     $(this).parent(".mui-slider-right").siblings('.listContent').children("span").eq(1).text("(停用)").addClass("redColor"); 
    // });
    // mui(".mui-table-view").on("tap",".green",function(){
    //     $(this).removeClass("show").siblings(".red").addClass("show");
    //     $(this).parent(".mui-slider-right").siblings('.listContent').children("span").eq(1).text("").addClass("redColor"); 
    // });
    // $(".mui-table-view .listContent").each(function(i){
    //     var type=$(".listContent").eq(i).children("span").eq(1).attr("data-type");
    //     if(type=="0"){
    //         $(".listContent").eq(i).siblings(".mui-slider-right").children(".red").addClass("show").siblings(".green").removeClass("show");
    //     }
    //     else if(type=="1"){
    //         $(".listContent").eq(i).siblings(".mui-slider-right").children(".green").addClass("show").siblings(".red").removeClass("show");
    //     }
    //     else{
    //         $(".listContent").eq(i).siblings(".mui-slider-right").children("a").removeClass("show");
    //     }
    // })
</script>
</html>
