@import url('init.less');
@import url('mui_overwrite.less');
body{
	background-color: #fff;
}
// .topBar{
// 	height: 40px;
// 	line-height: 40px;
// 	.topBarList{
// 		width: 100%;
// 		font-size: 0;
// 		border-bottom:1px solid #ddd;
// 		height: 40px;
// 		li{
// 			font-size: 14px;
// 			width: 33.3%;
// 			display: inline-block;
// 			color: #333;
// 			text-align: center;
// 			.listItem_name{
// 				position: relative;
// 				display: inline-block;
//     			height: 40px;
// 				.redCircle{
// 					background-color: #e74f3a;
// 				    border-radius: 8px;
// 				    width: 16px;
// 				    height: 16px;
// 				    line-height: 16px;
// 				    position: absolute;
// 				    top: 4px;
// 				    right: -8px;
// 				    color: #fff;
// 				    font-size: 12px;
// 				    text-align: center;
// 				}
// 			}
// 			.red{
// 				color:#e74f3a;
// 				border-bottom: 1px solid #e74f3a;
// 			}
// 		}
// 	}
// }
.mui-segmented-control-negative.mui-segmented-control-inverted .mui-control-item.mui-active{
	color: #e74f3a;
    border:none;
    background: none;
    .listItem_name{
    	color:#e74f3a;
		border-bottom:2px solid #e74f3a;
    }
}
.redNum{
	height: 18px;
    width: 18px;
    background-color: #e74f3a;
    display: inline-block;
    position: absolute;
    right: 32px;
    top: 22px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.redCircle{
	// background-color: #e74f3a;
 //    border-radius: 8px;
 //    width: 16px;
 //    height: 16px;
 //    line-height: 16px;
 //    position: absolute;
 //    top: 4px;
 //    right: -8px;
 //    color: #fff;
 //    font-size: 12px;
 //    text-align: center;
 	background-color: #e74f3a;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: -5px;
    right: -8px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.listItem_name{
	position:relative;
	padding-bottom:10px;
}
.red{
	color:#e74f3a;
	border-bottom:2px solid #e74f3a;
	// position: relative;
	// border-bottom: 1px solid #e74f3a;
}
// .pageContent{
// 	display: none;
.no-padding-list .mui-table-view-cell{
	padding:0;
}
.messageBox,.commentBox{
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	.leftImg{
		float: left;
		margin-right: 12px;
		img{
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}
	.rightContent{
		// float: left;
		padding-left: 50px;
		.rightTitle{
			margin:10px 0;
			font-size: 16px;
			color:#333;
		}
		.rightPara{
			font-size: 14px;
			color: #666;
			margin-bottom: 10px;
		}
		.articlePic{
			display: block;
			float: left;
			width: 31.3%;
			margin-right: 3%;
			height: 60px;
		}
		.articlePic_{
			margin: 0;
		}
		.tips{
			.leftTips{
				font-size: 10px;
				color: #aaa;
				float: left;
				padding-top: 5px;
				height: 20px;
			}
			img{
				display: block;
			    width: 18px;
			    height: 12px;
			    float: right;
			    margin-top: 7px;			
			}
			.after;
		}
		.after;
	}
	.after;
}
.commentBox{
	padding-left: 65px;
	border-bottom: none;
	padding-right: 0;
	.leftImg{
		margin-bottom: 5px;
	}
	.rightContent{
		padding-bottom:10px;
		border-bottom: 1px solid #ddd;
		.rightPara{
			font-size: 12px;
			color: #666;
			padding-right: 15px;
			margin-bottom: 0;
		}
		.tips{
			.leftTips{
				height: auto;
				padding-top: 0;
			}
		}
	}
}
.comment{
	border-bottom:1px solid #ddd;
}
.comment .commentBox{
	padding-bottom:0;
}
.comment .commentBox:last-child{
	.rightContent{
		border-bottom:none;
	}
}
// }
/*动态中心*/
.deliverBox{
	padding: 10px 15px;
	background-color: #fff;
	margin-bottom: 10px;
	.deliverBox_{
		width: 100%;
		textarea{
			border: none;
			font-size: 14px;
		    padding: 0;
		    color: #999;
		    min-height: 100px;
		}
	}
	.deliverImg{
		width: 100%;
		.deliverImg_{
			display: block;
			float: left;
			width: 31.3%;
			margin-right: 3%;
			height: 75px;
			position: relative;
			display: block;
		    float: left;
		    width: 31%;
		    margin-right: 2%;
		    height: 75px;
		    position: relative;
		    margin-bottom: 3%;
			input{
				display: block;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    border: none;
			    opacity: 0;
			    z-index: 1;
			    cursor: default;
			}
			.commonImg{
				display: block;
				width: 100%;
				height: 100%;
			}
			.removeBtn{
				display: block;
				position: absolute;
				top: -8px;
				right: -8px;
				width: 18px;
				height: 18px;
				color: #f33;
			}
		}
		.deliverImg_1{
			margin: 0;
		}
		.plusMoreImg{
			border:1px solid #d8d8d8;
		}
	}
	.after;
}
.notice{
	background-color: #fff;
	padding: 10px 15px;
	.topPara{
		font-size: 16px;
		color: #333;
		span{
			font-size: 12px;
			color: #999;
		}
	}
	.userIcon{
		width: 100%;
		img{
			display: block;
		    width: 15%;
		    margin-right: 6%;
		    float: left;
		    margin-bottom: 10px;
		    &:nth-child(5n){
		    	margin-right: 0;
		    }
		}
		.after;
	}
}
.mask{
	height: 100%;
	width: 100%;
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.addPhoto{
	width:100%;
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	display: none;
	.addPhotoList{
		width: 100%;
		margin-bottom: 50px;
		li{
			width: 100%;
		    height: 40px;
		    line-height: 40px;
		    font-size: 16px;
		    color: #333;
		    border-bottom: 1px solid #ddd;
		    text-align: center;
		    background-color: #fff;		
		}
	}
	.cancelBtn{
		position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 40px;
	    line-height: 40px;
	    color: #333;
	    text-align: center;
	    background-color: #fff;
	    font-size: 16px;	
	}
}
.workmates{
	padding: 10px 15px!important;
	.workmatesList{
		.workmateItems{
			padding: 10px 0;
			list-style-type: none;
			.leftImg{
				float: left;
				margin-right: 12px;
				img{
					display: block;
					width: 45px;
					height: 45px;
					border-radius: 50%;
				}
			}
			.rightContent{
				float: left;
				border-bottom: 1px solid #ddd;
				width: 80%;
				// padding-left: 50px;
				.rightContent_1{
					height: 50px;
					line-height: 50px;
					.rightPara{
						height: 40px;
					    line-height: 40px;
					    font-size: 16px;
					    color: #333;
					    float: left;
					}
					.tips{
						float: right;
						margin-top: 10px;
						img{
							display: block;
						    width: 20px;
						    height: 20px;
						}
					}
					.after;
				}
			}
			.after;
		}
	}
}
.workmates_{
	.mui-table-view{
		.icon-img{
			display:block;
			width:50px;
			height:50px;
			max-width: 50px;
		}
		.rightPara{
			height: 45px;
		    line-height: 59px;
		    font-size: 16px;
		    color: #333;
		}
		.tips{
			position: absolute;
			right:15px;
			top:26px;
			img{
				display:block;
				width:20px;
				height:20px;
			}
		}
		.mui-table-view-cell:after{
			right:15px;
			left:75px;
		}
		&:before{
			height:0;
		}
		&:after{
			height:0;
		}
	}
}
.userInfo{
	.userTop{
		padding: 10px 15px;
		margin-top: 10px;
		background-color: #fff;
		position: relative;
		.lookMore{
			display: block;
			position: absolute;
			width: 10px;
			height: 18px;
			top: 30px;
			right: 15px;
		}
		.leftImg{
			float: left;
			width: 60px;
			height: 60px;
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.rightContent{
			float: left;
		    position: relative;
		    // width: 80%;
		    height: 60px;
		    .rightContent_1{
		    	width: 100%;
			    height: 60px;
			    padding: 7px 15px;
			    /* line-height: 60px; */
			    .rightTitle{
			    	font-size: 14px;
			    	color: #666;
			    	padding-bottom: 5px;
			    	span{
			    		color: #333;
			    	}
			    }
			    .rightPara{
					font-size: 14px;
					color: #666;
					span{
						color: #333;
					}
				}
		    }			
		}
		.after;
	}
	.workmatesList{
		margin-top: 10px;
		background-color: #fff;
		a{
			display: block;
			border-bottom: 1px solid #ddd;
		}
		.workmateItems{
			padding: 10px 15px;
			.leftImg{
				float: left;
				width: 20px;
				height: 20px;
				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			.rightContent{
			    float: left;
			    position: relative;
			    width: 93%;
			    height: 20px;			    
			    .rightContent_1{
			    	width: 100%;
				    height: 20px;
				    padding: 0px 15px;
				    line-height: 20px; 
				    .rightTitle{
				    	font-size: 14px;
				    	color: #666;
				    	padding-bottom: 5px;
				    	span{
				    		color: #333;
				    	}
				    }
				    .rightPara{
						font-size: 14px;
						color: #666;
						span{
							color: #333;
						}
					}
					.commonNum{
						display: inline-block;
					    position: absolute;
					    right: 15px;
					    top: 0px;
					    font-size: 12px;
					    color: #666;
					}
					.lookMore{
						display: block;
						position: absolute;
						width: 10px;
						height: 18px;
						top: 0px;
						right: 0;
					}
			    }			
			}
			.after;
			&:last-child{
				border:none;
			}
		}
	}
	.quitBtn{
		width: 100%;
		height: 40px;
		line-height: 40px;
		background-color: #fff;
		text-align: center;
		font-size:16px;
		color:#e74f3a;
		margin-top: 20px;
	}
}
.feedbackBox{
	.tips{
		padding: 10px 15px;
		font-size: 12px;
		color: #999;
	}
	.deliverBox_{
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		textarea{
			border: none;
			width: 100%;
			font-size: 12px;
			color: #ccc;
			margin-top: 0;
			min-height: 100px;
		}
		input{
			padding: 11px 15px;
			width: 100%;
			border: none;
			font-size: 12px;
			color: #ccc;
		}
	}
}
.submitBox{
	display: none;
	.veryCenter;
	border-radius: 20px;
	z-index: 2;
	background-color: #fff;
	width: 240px;
	.para_{
		font-size: 16px;
	    color: #000;
	    text-align: center;
	    padding: 20px 0px;
	    margin-bottom: 45px;
	}
	.para_1{
		color: #000;
	    font-size: 16px;
	    text-align: center;
	    padding-top: 20px;
	    padding-bottom: 10px;	
	}
	.para_2{
		color: #333;
	    font-size: 14px;
	    /* padding-bottom: 20px; */
	    text-align: center;
    	margin-bottom: 60px;
	}
	.para_bot{
		width: 100%;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    text-align: center;
	    height: 45px;
	    line-height: 45px;
	    border-top: 1px solid #ddd;
	    color: #06f;
	    span{
	    	display: inline-block;
	    	width: 50%;
	    	height: 44px;
	    }
	    span:first-child{
	    	border-right: 1px solid #ddd;
	    }
	}
}
.aboutus{
	.TopImg{
		background-image:linear-gradient(-180deg, #fb9f92 0%, #e74f3a 100%);
		width:60px;
		height:60px;
		border-radius: 15px;
		margin:auto;
		margin-top: 30px;
	}
	.rightTitle{
		text-align: center;
		font-size: 12px;
		color: #999;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.workmatesList{
		margin-top: 10px;
		background-color: #fff;
		a{
			display: block;
			border-bottom: 1px solid #ddd;
		}
		.workmateItems{
			padding: 10px 15px;
			.rightContent{
			    float: left;
			    position: relative;
			    width: 100%;
			    height: 20px;			    
			    .rightContent_1{
			    	width: 100%;
				    height: 20px;
				    line-height: 20px; 
				    .rightTitle{
				    	font-size: 14px;
				    	color: #666;
				    	padding-bottom: 5px;
				    	span{
				    		color: #333;
				    	}
				    }
				    .rightPara{
						font-size: 14px;
						color: #666;
						span{
							color: #333;
						}
					}
					.lookMore{
						display: block;
						position: absolute;
						width: 10px;
						height: 18px;
						top: 0px;
						right: 0;
					}
			    }			
			}
			.after;
			&:last-child{
				border:none;
			}
		}
	}
	.mui-table-view{
		margin-top:10px;
		.rightPara{
			font-size: 14px;
			color: #666;
		}
	}
}
.detailBox{
	padding: 10px 15px;
	.tips{
		color: #666;
		font-size: 14px;
		padding-bottom: 5px;
	}
	.contentBox{
		width: 100%;
		height: 210px;
		margin-bottom: 5px;
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
.flowSetting{
	.workmatesList{
		margin-top: 10px;
		background-color: #fff;
		a{
			display: block;
			border-bottom: 1px solid #ddd;
		}
		.workmateItems{
			padding: 10px 15px;
			.leftImg{
				float: left;
				width: 20px;
				height: 20px;
				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			.rightContent{
			    float: left;
			    position: relative;
			    width: 100%;
			    height: 20px;			    
			    .rightContent_1{
			    	width: 100%;
				    height: 20px;
				    // padding: 0px 15px;
				    line-height: 20px; 
				    span{
				    	position: absolute;
					    right: 15px;
					    top: 0;
					    font-size: 14px;
					    color: #999;
				    }
				    .rightTitle{
				    	font-size: 14px;
				    	color: #666;
				    	padding-bottom: 5px;
				    	span{
				    		color: #333;
				    	}
				    }
				    .rightPara{
						font-size: 14px;
						color: #666;
						span{
							color: #333;
						}
					}
					.flowCtr{
						position: absolute;
					    right: 0px;
					    top: -5px;
					}
					.lookMore{
						display: block;
						position: absolute;
						width: 10px;
						height: 18px;
						top: 0px;
						right: 0;
					}
			    }			
			}
			.after;
			&:last-child{
				border:none;
			}
		}
	}
	.mui-table-view{
		margin-top:10px!important;
		.mui-table-view-cell{
			span{
		    	position: absolute;
			    right: 36px;
			    top: 12px;
			    font-size: 14px;
			    color: #999;
		    }
		    p{
		    	font-size: 14px;
    			color: #666;
		    }
		}

	}
}
.myworkmates,.addworkmates{
	padding: 0;
	.goDetail{
		display:block;
	}
	.topPara{
		padding:10px 15px;
		font-size: 14px;
		color:#999;
		.larger{
			color:#e74f3a;
			font-size: 21px;
		}
	}
	.tips{
		padding: 7px 15px;
	    font-size: 10px;
	    color: #999;
	}
	.mui-content{
		.mui-table-view{
			margin-top: 0;
			.listContent{
				font-size: 14px;
				color: #333;
				position: relative;
				.num_{
					position: absolute;
					right: 0;
					top: 0;
					font-size: 12px;
					color: #666;
				}
				.redColor{
					color: #f33;
				}
				.greenColor{
					color: #4cd964;
				}
				.commonNum,.commonNum_{
					display: inline-block;
				    position: absolute;
				    right: 15px;
				    top: 0px;
				    font-size: 12px;
				    color: #999;
				}
				.deadLine{
					font-size: 12px;
					color:#999;
				}
				.commonNum_{
					// background:#44db5e;
					border-radius:13px;
					width:80px;
					height:24px;
					font-size: 12px;
					color:#999;
					line-height: 24px;
					border:1px solid #ccc;
					text-align: center;
					top:10px;
				}
				.green{
					background-color:#44db5e;
					color:#fff;
				}
				.lookMore{
					display: block;
					position: absolute;
					width: 10px;
					height: 18px;
					top: 0px;
					right: 0;
				}
			}
			.mui-slider-right{
				.green{
					// background-color: #3f3;
					display: none;
					line-height: 40px;
					font-size: 16px;
				}
				.red,.red_{
					display: none;
					line-height: 40px;
					font-size: 16px;
				}
				.red_{
					line-height: 64px;
				}
			}
		}
		.topCode{
			padding:6px 15px;
		}
		.addContent{
			font-size: 14px;
		    color: #333;
		    position: relative;
		    input{
		    	border: none;
			    width: 79%;
			    margin: 0;
			    padding: 0;
			    height: 20px;
		    }
		    img{
		    	display: inline-block;
			    width: 18px;
			    height: 18px;
		    }
		    .inputInfo{
		    	position: absolute;
			    right: 0;
			    width: 52%;
			    color: #ccc;
			    font-size: 12px;
			    text-align: right;		    
			}
		}
	}
	.bottomBtn{
		border-top-left-radius: 20px;
	    border-top-right-radius: 20px;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	    height: 40px;
	    line-height: 40px;
	    width: 165px;
	    margin: auto;
	    text-align: center;
	    background-color: #e74f3a;
	    color: #fff;
	    margin-top: 40px;	
	}
	.addCash{
		position: fixed;
	    bottom: 20px;
	    top: 95%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    font-size: 12px;
	    color: #e74f3a;
	    text-decoration: underline;
	}
}
.messageShowBox{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	a{
		display: block;
	}
    .messageShowContent{
    	padding: 10px 15px;
	    background-color: #fff;
	    padding-right: 0;
	    padding-bottom: 0;
		.userTop{
			width:100%;
			padding-left: 40px;
			position: relative;
			.leftImg{
				position: absolute;
				left: 0;
				top: 0;
				width: 30px;
				height: 30px;
				margin-top: 6px;
				img{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			.lookMore{
				display: block;
				position: absolute;
				width: 10px;
				height: 18px;
				top: 10px;
				right: 10px;
			}
			.rightContent{
				border-bottom: 1px solid #ddd;
				.rightContent_1{
					padding-bottom: 10px;
				}
				.rightTitle{
					font-size: 16px;
					color: #333;
				}
				.rightPara{
					font-size: 12px;
					color: #999;
				}
			}
			.redNum{
				height: 20px;
			    width: 20px;
			    background-color: #e74f3a;
			    display: inline-block;
			    position: absolute;
			    right: 28px;
			    top: 9px;
			    border-radius: 10px;
			    text-align: center;
			    color: #fff;
			    font-size: 12px;
			    line-height: 20px;
			}
			.timeShow{
				position: absolute;
			    top: 0;
			    right: 15px;
			    font-size: 10px;
			    color: #999;
			}
		}
    }
    .messageShowContent:last-child{
    	.rightContent{
    		border: none;
    	}
    }
}
.messageShowBox .mui-table-view-cell:after{
	left:55px;
}
.messageShowBox .mui-table-view-cell{
	.timeShow{
		position: absolute;
	    top: 11px;
	    right: 15px;
	    font-size: 10px;
	    color: #999;
	}
}
.messageShowBox .mui-table-view-cell{
	.timeShow{
		position: absolute;
	    top: 11px;
	    right: 15px;
	    font-size: 10px;
	    color: #999;
	}
}
a .mui-table-view-cell:after{
	height:1px!important
	;
}
.messageShowBox ul>a:last-child{
	.mui-table-view-cell:after{
		height:0px!important;
	}
}
.messageShowBox ul:before{
	height:0px;
}
.detailBox{
	padding: 10px 15px;
	.topTitle{
		margin-bottom: 8px;
		font-size: 16px;
		color: #333;
	}
	.date{
		font-size: 10px;
		color: #999;
		margin-bottom: 12px;
	}
	.para{
		width: 100%;
		img{
			display: block;
			width: 100%;
			height: 180px;
			margin-bottom: 14px;
		}
		.innerPara{
			font-size:14px;
			color: #999;
			text-indent: 2em;
		}
	}
}
.company_list{
	.workmatesList{
		// margin-top: 10px;
		background-color: #fff;
		a{
			display: block;
			border-bottom: 1px solid #ddd;
		}
		.workmateItems{
			padding: 10px 15px;
			.rightContent{
			    float: left;
			    position: relative;
			    width: 100%;
			    height: 20px;			    
			    .rightContent_1{
			    	width: 100%;
				    height: 20px;
				    line-height: 20px; 
				    .rightTitle{
				    	font-size: 14px;
				    	color: #666;
				    	padding-bottom: 5px;
				    	span{
				    		color: #333;
				    	}
				    }
				    .rightPara{
						font-size: 14px;
						color: #666;
						span{
							color: #333;
						}
					}
					.lookMore{
						display: block;
						position: absolute;
						width: 10px;
						height: 18px;
						top: 0px;
						right: 0;
					}
					.redNum{
						height: 18px;
					    width: 18px;
					    background-color: #e74f3a;
					    display: inline-block;
					    position: absolute;
					    right: 15px;
					    top: 0px;
					    border-radius: 10px;
					    text-align: center;
					    color: #fff;
					    font-size: 12px;
					    line-height: 18px;
					}
					.commoNum{
						display: inline-block;
					    position: absolute;
					    right: 15px;
					    top: 0px;
					    font-size: 12px;
					    color: #666;
					}
			    }			
			}
			.after;
			&:last-child{
				border:none;
			}
		}
	}
}
.company_list_{
	.redNum{
		height: 18px;
	    width: 18px;
	    background-color: #e74f3a;
	    display: inline-block;
	    position: absolute;
	    right: 30px;
	    top: 13px;
	    border-radius: 10px;
	    text-align: center;
	    color: #fff;
	    font-size: 12px;
	    line-height: 18px;
	}
	.commoNum{
		display: inline-block;
	    position: absolute;
	    right: 30px;
    	top: 12px;
	    font-size: 12px;
	    color: #666;
	}
	.mui-table-view-cell{
		.rightPara{
			font-size: 14px;
			color: #666;
			span{
				color: #333;
			}
		}
	}
	.mui-table-view-cell:after{
		left:0;
	}
}
.monitor_detail{
	.mui-table-view{
		margin-top: 0;
	}
	.leftImg{
		float: left;
	    width: 29%;
	    height: 70px;
	    img{
	    	display: block;
		    width: 100%;
		    height: 100%
	    }
	}
	.rightContent{
		float: left;
		margin-left: 15px;
		.rightTitle{
			margin-bottom: 11px;
		    margin-top: 11px;
		    font-size: 16px;
		    color: #666;
		}
		.rightPara{
			color: #999;
    		font-size: 14px;
		}
	}
	.after;
}
.accountBalanceBox{
	.topShow{
		background-image:linear-gradient(-180deg, #e74f3a 0%, #e88274 100%);
		width:100%;
		height:150px;
		position: relative;
		.para_1{
			padding-top:20px;
			margin-bottom:6px;
			font-size: 14px;
			color:#fff;
			text-align: center;
		}
		.para_2{
			font-size: 24px;
			color:#fff;
			margin-bottom:9px;
			text-align: center;
		}
		.para_3{
			color:#fff;
			font-size: 12px;
			text-align: center;
		}
		.bottomBtn{
			position: absolute;
			bottom:0;
			left:0;
			width:100%;
			font-size: 0;
			span{
				display: inline-block;
			    width: 50%;
			    text-align: center;
			    font-size: 16px;
			    color: #fff;
			    padding-bottom: 14px;
			}
		}
	}
	.listName{
		padding:9px 15px;
		font-size: 12px;
		color:#999;
	}
	.mui-table-view{
		.mui-table-view-cell{
			.cashShow{
				position: absolute;
			    right: 15px;
			    top: 21px;
			    font-size: 16px;
			    color:#333;
			}
			.para_{
				font-size: 14px;
				color:#333;
			}
			.date{
				font-size: 12px;
				color:#999;
			}
		}
	}
}
.cash_detail{
	a{
		display:block;
	}
	.listNew{
		margin-top:10px;
	}
	.mui-table-view-cell{
		padding-bottom:0;
	}
	.mui-table-view-cell:last-child{
		padding-bottom:10px;
	}
	.mui-table-view-cell:after{
		height:0;
	}
	.leftName{
		font-size: 14px;
		color:#666;
	}
	.showProcess{
		width: 100%;
    	padding-top: 10px;
		.leftPart{
			float: left;
			width: 50%;
			position: relative;
			.date{
				text-align: center;
			    color: #e74f3a;
			    font-size: 12px;
			}
			.circle{
				width: 60px;
			    height: 60px;
			    border-radius: 50%;
			    margin-bottom: 10px;
			    border: 1px solid #e74f3a;
			    text-align: center;
			    line-height: 60px;
			    font-size: 12px;
			    color: #e74f3a;
			    margin: auto;
			    margin-bottom: 10px;
			}
		}
		.leftPart_1:after{
			// content: '';
		 //    border: 1px dashed #ccc;
		 //    position: absolute;
		 //    width: 100px;
		 //    right: -50px;
		 //    top: 28px;		
			content: '';
		    border-top: 1px dashed #fff;
		    position: absolute;
		    width: 100px;
		    right: -50px;
		    top: 28px;
		    height: 1px;
		    background: -webkit-linear-gradient(90deg, #e74f3a,#f5a623);
		}
		.yellow{
			.circle{
				border-color: #f5a623;
				color:#f5a623;
			}
			.date{
				color:#f5a623;
			}
		}
		.grey{
			.circle{
				border-color: #ccc;
				color:#ccc;
			}
			.date{
				color:#ccc;
			}
		}
	}
	.rightName{
		font-size: 14px;
		color:#333;
		position: absolute;
		right:15px;
	}
	.rightName_{
		font-size: 12px;
		color:#ccc;
	}
	.bottomBtn{
		border-top-left-radius: 20px;
	    border-top-right-radius: 20px;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	    height: 40px;
	    line-height: 40px;
	    width: 165px;
	    margin: auto;
	    text-align: center;
	    background-color: #e74f3a;
	    color: #fff;
	    margin-top: 40px;	
	}
}
.rechargeBox{
	.topPara{
		padding:6px 15px;
		font-size: 12px;
		color:#999;
	}
	.cashBox{
		background-color: #fff;
		padding:10px 15px;
		.cashContent{
			width:100%;
			.cashItem{
				width:31%;
				height:70px;
				margin-right:3%;
				text-align: center;
				border:1px solid #45a3ef;
				border-radius:4px;
				float: left;
				margin-bottom:3%;
				line-height: 70px;
				color:#45a3ef;
			}
			.blue{
				background-color: #45a3ef;
				color:#fff;
			}
			.after;
			.cashItem:nth-child(3n){
				margin-right:0;
			}
			.payIcon{
				display: inline-block;
			    width: 40px;
			    height: 40px;
			    vertical-align: middle;
			    margin-right: 10px;
			    margin-left: 5px;
			}
			.payPara{
				font-size:14px;
				color:#00a9f2;
			}
		}
	}
	.bottomBtn{
		border-top-left-radius: 20px;
	    border-top-right-radius: 20px;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 20px;
	    height: 40px;
	    line-height: 40px;
	    width: 165px;
	    margin: auto;
	    text-align: center;
	    background-color: #e74f3a;
	    color: #fff;
	    margin-top: 40px;	
	}
}
.addworkmates{
	padding:0!important;
}
.show{
	display: block!important;
}
.mui-content > .mui-table-view:first-child{
	margin-top:0;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
	font-size: 23px;
	right:10px;
}
.mui-content{
	background-color: #f3f3f3;
}
.mui-poppicker-header .mui-btn{
	font-size: 14px;
    border: none;
    background: transparent;
    color: #0081eb;
}
.mui-picker{
	background-color: #fff;
}
.mui-poppicker{
	background-color: #fff;
}
.mui-poppicker-body{
	border-top:none;
}
.enterHide{
	// display:none;
	position: fixed;
    bottom: -40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    input{
    	margin: 0;
	    border: 1px solid #ddd;
	    border-left: none;
	    border-right: none;
    }
    label{
    	position: absolute;
	    right: 0px;
	    width: auto;
	    color: #999;
	    background-color: #fff;
	    height: 25px;
	    top: 12px;
	    padding: 0 15px;
    }
}
#picture{
	input{
		display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	    opacity: 0;
	    z-index: 1;
	    cursor: default;
	}
}
