@import url('init.less');
body{
	background-color: #fff;
}
.topBar{
	height: 40px;
	line-height: 40px;
	.topBarList{
		width: 100%;
		font-size: 0;
		border-bottom:1px solid #ddd;
		height: 40px;
		li{
			font-size: 14px;
			width: 33.3%;
			display: inline-block;
			color: #333;
			text-align: center;
			.listItem_name{
				position: relative;
				display: inline-block;
    			height: 40px;
				.redCircle{
					background-color: #e74f3a;
				    border-radius: 8px;
				    width: 16px;
				    height: 16px;
				    line-height: 16px;
				    position: absolute;
				    top: 4px;
				    right: -8px;
				    color: #fff;
				    font-size: 12px;
				    text-align: center;
				}
			}
			.red{
				color:#e74f3a;
				border-bottom: 1px solid #e74f3a;
			}
		}
	}
}
.pageContent{
	display: none;
	.messageBox{
		padding: 10px 15px;
		.leftImg{
			float: left;
			margin-right: 12px;
			img{
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}
		.rightContent{
			// float: left;
			padding-left: 50px;
			.rightTitle{
				margin:10px 0;
				font-size: 16px;
				color:#333;
			}
			.rightPara{
				font-size: 14px;
				color: #666;
			}
			.articlePic{
				display: block;
				float: left;
				width: 31.3%;
				margin-right: 3%;
				height: 60px;
			}
			.articlePic_{
				margin: 0;
			}
			.after;
		}
		.after;
	}
}
.show{
	display: block;
}