.after:after {
  display: block;
  content: '';
  clear: both;
}
.before:before {
  display: block;
  content: '';
  clear: both;
}
.veryCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.verticalCenter {
  position: absolute !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
}
.horizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.full {
  display: block;
  width: 100%;
  height: 100%;
}
ul,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
[v-cloak] {
  opacity: 0;
}
.color3 {
  color: #333;
}
.color6 {
  color: #666;
}
.color9 {
  color: #999;
}
.colorc {
  color: #ccc;
}
.colorred {
  color: #f33;
}
.colorgreen {
  color: #4cd964;
}
.mui-btn-negative,
.mui-btn-danger,
.mui-btn-red {
  background-color: #f33;
}
p {
  font-size: 12px;
}
.mui-content {
  font-size: 14px;
}
.wordbreak {
  word-break: break-all;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
h5,
.mui-h5 {
  color: #666;
}
.mui-segmented-control {
  background-color: #fff;
}
.mui-badge.right-top {
  position: absolute;
  right: -10px;
  top: -9px;
}
.mui-toast-container {
  bottom: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.imageIcon {
  display: inline-block;
  height: 18px;
}
.mui-input-row label {
  line-height: 1.3;
  font-size: 14px;
}
.mui-input-group input {
  font-size: 14px;
}
.mui-segmented-control ~ .mui-control-content {
  position: absolute;
  top: 39px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.mui-slider-handle > .mui-btn {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mui-table-view-cell .mui-navigate-right > .mui-pull-right {
  right: 35px;
}
.mui-table-view-chevron-35 .mui-table-view-cell {
  padding-right: 35px;
}
.mui-table-view-chevron-35 .mui-table-view-cell > a:not(.mui-btn) {
  margin-right: -35px;
}
.vertical-align {
  position: absolute !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
}
.vertical-align.mui-pull-right {
  right: 15px;
}
.mui-table-view .media-object-50 {
  line-height: 50px;
  max-width: 50px;
  height: 50px;
}
.mui-radio input[type='radio']:checked:before,
.mui-checkbox input[type='checkbox']:checked:before {
  color: #fe3824;
}
.mui-segmented-control.mui-segmented-control-inverted {
  border-bottom: 1px solid #ddd;
}
body {
  background-color: #fff;
}
.mui-segmented-control {
  overflow: visible;
}
.mui-segmented-control-negative.mui-segmented-control-inverted .mui-control-item.mui-active {
  color: #e74f3a;
  border: none;
  background: none;
  overflow: visible;
}
.mui-segmented-control-negative.mui-segmented-control-inverted .mui-control-item.mui-active .listItem_name {
  color: #e74f3a;
  border-bottom: 1px solid #e74f3a;
}
.listItem_name {
  color: #666;
  position: relative;
  padding-bottom: 10px;
  z-index: 1;
}
.redNum {
  height: 18px;
  width: 18px;
  background-color: #e74f3a;
  display: inline-block;
  position: absolute;
  right: 32px;
  top: 22px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}
.redCircle {
  background-color: #e74f3a;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: -5px;
  right: -8px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.red {
  color: #e74f3a;
  border-bottom: 2px solid #e74f3a;
}
.no-padding-list .mui-table-view-cell {
  padding: 0;
}
.messageBox {
  padding: 10px 15px;
}
.messageBox .leftImg {
  float: left;
  margin-right: 12px;
}
.messageBox .leftImg img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.messageBox .rightContent {
  padding-left: 70px;
}
.messageBox .rightContent .tips {
  margin-bottom: -10px;
}
.messageBox,
.commentBox {
  border-bottom: 1px solid #eee;
}
.messageBox .rightContent .rightTitle,
.commentBox .rightContent .rightTitle {
  margin: 6px 0;
  font-size: 16px;
  color: #333;
}
.messageBox .rightContent .rightPara,
.commentBox .rightContent .rightPara {
  font-size: 14px;
  color: #999;
  margin-bottom: 5px;
  line-height: 20px;
}
.messageBox .rightContent .articlePic,
.commentBox .rightContent .articlePic {
  display: block;
  float: left;
  width: 31.3%;
  margin-right: 3%;
  height: 60px;
}
.messageBox .rightContent .articlePic_,
.commentBox .rightContent .articlePic_ {
  margin: 0;
}
.messageBox .rightContent .tips .leftTips,
.commentBox .rightContent .tips .leftTips {
  font-size: 8px;
  color: #aaa;
  height: 22px;
}
.messageBox .rightContent .tips img,
.commentBox .rightContent .tips img {
  display: block;
  width: 18px;
  height: 12px;
  float: right;
  margin-top: 5px;
}
.messageBox:after,
.commentBox:after {
  display: block;
  content: '';
  clear: both;
}
.commentBox {
  width: calc(100% - 85px);
  padding: 10px 0;
  display: table;
  margin-left: 85px;
  border-bottom: 1px solid #eee;
  padding-right: 0;
}
.commentBox:last-child {
  border-bottom: none;
}
.commentBox .leftImg {
  margin-bottom: 5px;
  vertical-align: top;
  width: 40px;
  display: table-cell;
  padding-right: 12px;
}
.commentBox .leftImg img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.commentBox .leftImg > h6 {
  width: 40px;
  word-break: break-all;
}
.commentBox .rightContent {
  vertical-align: top;
  display: table-cell;
}
.commentBox .rightContent .rightPara {
  font-size: 12px;
  padding-right: 15px;
  line-height: 18px;
  margin-bottom: 0;
}
.commentBox .rightContent .tips {
  margin-bottom: 0;
}
.commentBox .rightContent .tips .leftTips {
  height: auto;
  padding-top: 0;
}
.comment {
  border-bottom: 1px solid #eee;
}
.comment .commentBox {
  padding-bottom: 0;
}
.comment .commentBox:last-child .rightContent {
  border-bottom: none;
}
/*动态中心*/
.deliverBox {
  padding: 10px 15px;
  background-color: #fff;
  margin-bottom: 10px;
}
.deliverBox .deliverBox_ {
  width: 100%;
}
.deliverBox .deliverBox_ textarea {
  border: none;
  font-size: 14px;
  padding: 0;
  color: #333;
  min-height: 100px;
}
.deliverBox .deliverImg {
  width: 100%;
}
.deliverBox .deliverImg .deliverImg_ {
  width: 31.3%;
  margin-right: 3%;
  display: block;
  float: left;
  width: 31%;
  margin-right: 2%;
  height: 75px;
  position: relative;
  margin-bottom: 3%;
}
.deliverBox .deliverImg .deliverImg_ input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  z-index: 1;
  cursor: default;
}
.deliverBox .deliverImg .deliverImg_ .commonImg {
  display: block;
  width: 100%;
  height: 100%;
}
.deliverBox .deliverImg .deliverImg_ .removeBtn {
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  color: #f33;
}
.deliverBox .deliverImg .deliverImg_1 {
  margin: 0;
}
.deliverBox .deliverImg .plusMoreImg {
  border: 1px solid #d8d8d8;
}
.deliverBox:after {
  display: block;
  content: '';
  clear: both;
}
.notice {
  background-color: #fff;
  padding: 10px 15px;
}
.notice .topPara {
  font-size: 16px;
  color: #333;
}
.notice .topPara span {
  font-size: 12px;
  color: #999;
}
.notice .userIcon {
  width: 100%;
}
.notice .userIcon img {
  display: block;
  width: 15%;
  margin-right: 6%;
  float: left;
  margin-bottom: 10px;
}
.notice .userIcon img:nth-child(5n) {
  margin-right: 0;
}
.notice .userIcon .userPic {
  border-radius: 50%;
}
.notice .userIcon:after {
  display: block;
  content: '';
  clear: both;
}
.mask {
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.addPhoto {
  width: 100%;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: none;
}
.addPhoto .addPhotoList {
  width: 100%;
  margin-bottom: 50px;
}
.addPhoto .addPhotoList li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #eee;
  text-align: center;
  background-color: #fff;
}
.addPhoto .cancelBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #333;
  text-align: center;
  background-color: #fff;
  font-size: 16px;
}
.workmates {
  padding: 10px 15px!important;
}
.workmates .workmatesList .workmateItems {
  padding: 10px 0;
  list-style-type: none;
}
.workmates .workmatesList .workmateItems .leftImg {
  float: left;
  margin-right: 12px;
}
.workmates .workmatesList .workmateItems .leftImg img {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.workmates .workmatesList .workmateItems .rightContent {
  float: left;
  border-bottom: 1px solid #eee;
  width: 80%;
}
.workmates .workmatesList .workmateItems .rightContent .rightContent_1 {
  height: 50px;
  line-height: 50px;
}
.workmates .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  float: left;
}
.workmates .workmatesList .workmateItems .rightContent .rightContent_1 .tips {
  float: right;
  margin-top: 10px;
}
.workmates .workmatesList .workmateItems .rightContent .rightContent_1 .tips img {
  display: block;
  width: 20px;
  height: 20px;
}
.workmates .workmatesList .workmateItems .rightContent .rightContent_1:after {
  display: block;
  content: '';
  clear: both;
}
.workmates .workmatesList .workmateItems:after {
  display: block;
  content: '';
  clear: both;
}
.workmates_ .mui-table-view .icon-img {
  display: block;
  width: 50px;
  height: 50px;
  max-width: 50px;
}
.workmates_ .mui-table-view .rightPara {
  height: 45px;
  line-height: 59px;
  font-size: 16px;
  color: #333;
}
.workmates_ .mui-table-view .tips {
  position: absolute;
  right: 15px;
  top: 26px;
}
.workmates_ .mui-table-view .tips img {
  display: block;
  width: 20px;
  height: 20px;
}
.workmates_ .mui-table-view .mui-table-view-cell:after {
  right: 15px;
  left: 75px;
}
.workmates_ .mui-table-view:before {
  height: 0;
}
.workmates_ .mui-table-view:after {
  height: 0;
}
.userInfo .userTop {
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #fff;
  position: relative;
}
.userInfo .userTop .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 30px;
  right: 15px;
}
.userInfo .userTop .leftImg {
  float: left;
  width: 60px;
  height: 60px;
}
.userInfo .userTop .leftImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.userInfo .userTop .rightContent {
  float: left;
  position: relative;
  height: 60px;
}
.userInfo .userTop .rightContent .rightContent_1 {
  width: 100%;
  height: 60px;
  padding: 7px 15px;
  /* line-height: 60px; */
}
.userInfo .userTop .rightContent .rightContent_1 .rightTitle {
  font-size: 14px;
  color: #666;
  padding-bottom: 5px;
}
.userInfo .userTop .rightContent .rightContent_1 .rightTitle span {
  color: #333;
}
.userInfo .userTop .rightContent .rightContent_1 .rightPara {
  font-size: 14px;
  color: #666;
}
.userInfo .userTop .rightContent .rightContent_1 .rightPara span {
  color: #333;
}
.userInfo .userTop:after {
  display: block;
  content: '';
  clear: both;
}
.userInfo .workmatesList {
  margin-top: 10px;
  background-color: #fff;
}
.userInfo .workmatesList a {
  display: block;
  border-bottom: 1px solid #eee;
}
.userInfo .workmatesList .workmateItems {
  padding: 10px 15px;
}
.userInfo .workmatesList .workmateItems .leftImg {
  float: left;
  width: 20px;
  height: 20px;
}
.userInfo .workmatesList .workmateItems .leftImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.userInfo .workmatesList .workmateItems .rightContent {
  float: left;
  position: relative;
  width: 93%;
  height: 20px;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 {
  width: 100%;
  height: 20px;
  padding: 0px 15px;
  line-height: 20px;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle {
  font-size: 14px;
  color: #666;
  padding-bottom: 5px;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle span {
  color: #333;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara {
  font-size: 14px;
  color: #666;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara span {
  color: #333;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 .commonNum {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 12px;
  color: #666;
}
.userInfo .workmatesList .workmateItems .rightContent .rightContent_1 .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 0px;
  right: 0;
}
.userInfo .workmatesList .workmateItems:after {
  display: block;
  content: '';
  clear: both;
}
.userInfo .workmatesList .workmateItems:last-child {
  border: none;
}
.userInfo .quitBtn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #e74f3a;
  margin-top: 20px;
}
.feedbackBox .tips {
  padding: 10px 15px;
  font-size: 12px;
  color: #999;
}
.feedbackBox .deliverBox_ {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}
.feedbackBox .deliverBox_ textarea {
  border: none;
  width: 100%;
  font-size: 12px;
  color: #ccc;
  margin-top: 0;
  min-height: 100px;
}
.feedbackBox .deliverBox_ input {
  padding: 11px 15px;
  width: 100%;
  border: none;
  font-size: 12px;
  color: #ccc;
}
.submitBox {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 2;
  background-color: #fff;
  width: 240px;
}
.submitBox .para_ {
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 45px;
}
.submitBox .para_1 {
  color: #000;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.submitBox .para_2 {
  color: #333;
  font-size: 14px;
  /* padding-bottom: 20px; */
  text-align: center;
  margin-bottom: 60px;
}
.submitBox .para_bot {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #ddd;
  color: #06f;
}
.submitBox .para_bot span {
  display: inline-block;
  width: 50%;
  height: 44px;
}
.submitBox .para_bot span:first-child {
  border-right: 1px solid #ddd;
}
.aboutus .TopImg {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}
.aboutus .rightTitle {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 10px;
  margin-bottom: 10px;
}
.aboutus .workmatesList {
  margin-top: 10px;
  background-color: #fff;
}
.aboutus .workmatesList a {
  display: block;
  border-bottom: 1px solid #eee;
}
.aboutus .workmatesList .workmateItems {
  padding: 10px 15px;
}
.aboutus .workmatesList .workmateItems .rightContent {
  float: left;
  position: relative;
  width: 100%;
  height: 20px;
}
.aboutus .workmatesList .workmateItems .rightContent .rightContent_1 {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.aboutus .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle {
  font-size: 14px;
  color: #666;
  padding-bottom: 5px;
}
.aboutus .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle span {
  color: #333;
}
.aboutus .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara {
  font-size: 14px;
  color: #666;
}
.aboutus .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara span {
  color: #333;
}
.aboutus .workmatesList .workmateItems .rightContent .rightContent_1 .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 0px;
  right: 0;
}
.aboutus .workmatesList .workmateItems:after {
  display: block;
  content: '';
  clear: both;
}
.aboutus .workmatesList .workmateItems:last-child {
  border: none;
}
.aboutus .mui-table-view {
  margin-top: 10px;
}
.aboutus .mui-table-view .rightPara {
  font-size: 14px;
  color: #666;
}
.detailBox {
  padding: 10px 15px;
}
.detailBox .tips {
  color: #666;
  font-size: 14px;
  padding-bottom: 5px;
}
.detailBox .contentBox {
  width: 100%;
  height: 210px;
  margin-bottom: 5px;
}
.detailBox .contentBox img {
  display: block;
  width: 100%;
  height: 100%;
}
.flowSetting .workmatesList {
  margin-top: 10px;
  background-color: #fff;
}
.flowSetting .workmatesList a {
  display: block;
  border-bottom: 1px solid #eee;
}
.flowSetting .workmatesList .workmateItems {
  padding: 10px 15px;
}
.flowSetting .workmatesList .workmateItems .leftImg {
  float: left;
  width: 20px;
  height: 20px;
}
.flowSetting .workmatesList .workmateItems .leftImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.flowSetting .workmatesList .workmateItems .rightContent {
  float: left;
  position: relative;
  width: 100%;
  height: 20px;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 span {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 14px;
  color: #999;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle {
  font-size: 14px;
  color: #666;
  padding-bottom: 5px;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle span {
  color: #333;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara {
  font-size: 14px;
  color: #666;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara span {
  color: #333;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 .flowCtr {
  position: absolute;
  right: 0px;
  top: -5px;
}
.flowSetting .workmatesList .workmateItems .rightContent .rightContent_1 .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 0px;
  right: 0;
}
.flowSetting .workmatesList .workmateItems:after {
  display: block;
  content: '';
  clear: both;
}
.flowSetting .workmatesList .workmateItems:last-child {
  border: none;
}
.flowSetting .mui-table-view {
  margin-top: 10px!important;
}
.flowSetting .mui-table-view .mui-table-view-cell span {
  position: absolute;
  right: 36px;
  top: 12px;
  font-size: 14px;
  color: #999;
}
.flowSetting .mui-table-view .mui-table-view-cell p {
  font-size: 14px;
  color: #666;
}
.myworkmates,
.addworkmates {
  padding: 0;
}
.myworkmates .goDetail,
.addworkmates .goDetail {
  display: block;
}
.myworkmates .topPara,
.addworkmates .topPara {
  padding: 10px 15px;
  font-size: 14px;
  color: #999;
}
.myworkmates .topPara .larger,
.addworkmates .topPara .larger {
  color: #e74f3a;
  font-size: 21px;
}
.myworkmates .tips,
.addworkmates .tips {
  padding: 7px 15px;
  font-size: 10px;
  color: #999;
}
.myworkmates .mui-content .mui-table-view,
.addworkmates .mui-content .mui-table-view {
  margin-top: 0;
}
.myworkmates .mui-content .mui-table-view .listContent,
.addworkmates .mui-content .mui-table-view .listContent {
  font-size: 14px;
  color: #333;
  position: relative;
}
.myworkmates .mui-content .mui-table-view .listContent .num_,
.addworkmates .mui-content .mui-table-view .listContent .num_ {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #666;
}
.myworkmates .mui-content .mui-table-view .listContent .redColor,
.addworkmates .mui-content .mui-table-view .listContent .redColor {
  color: #f33;
}
.myworkmates .mui-content .mui-table-view .listContent .greenColor,
.addworkmates .mui-content .mui-table-view .listContent .greenColor {
  color: #4cd964;
}
.myworkmates .mui-content .mui-table-view .listContent .commonNum,
.addworkmates .mui-content .mui-table-view .listContent .commonNum,
.myworkmates .mui-content .mui-table-view .listContent .commonNum_,
.addworkmates .mui-content .mui-table-view .listContent .commonNum_ {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 12px;
  color: #999;
}
.myworkmates .mui-content .mui-table-view .listContent .deadLine,
.addworkmates .mui-content .mui-table-view .listContent .deadLine {
  font-size: 12px;
  color: #999;
}
.myworkmates .mui-content .mui-table-view .listContent .commonNum_,
.addworkmates .mui-content .mui-table-view .listContent .commonNum_ {
  border-radius: 13px;
  width: 80px;
  height: 24px;
  font-size: 12px;
  color: #999;
  line-height: 24px;
  border: 1px solid #ccc;
  text-align: center;
  top: 10px;
}
.myworkmates .mui-content .mui-table-view .listContent .green,
.addworkmates .mui-content .mui-table-view .listContent .green {
  background-color: #44db5e;
  color: #fff;
  border: none;
}
.myworkmates .mui-content .mui-table-view .listContent .lookMore,
.addworkmates .mui-content .mui-table-view .listContent .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 0px;
  right: 0;
}
.myworkmates .mui-content .topCode,
.addworkmates .mui-content .topCode {
  padding: 6px 15px;
}
.myworkmates .mui-content .addContent,
.addworkmates .mui-content .addContent {
  font-size: 14px;
  color: #333;
  position: relative;
}
.myworkmates .mui-content .addContent input,
.addworkmates .mui-content .addContent input {
  border: none;
  width: 79%;
  margin: 0;
  padding: 0;
  height: 20px;
}
.myworkmates .mui-content .addContent img,
.addworkmates .mui-content .addContent img {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.myworkmates .mui-content .addContent .inputInfo,
.addworkmates .mui-content .addContent .inputInfo {
  position: absolute;
  right: 0;
  width: 52%;
  color: #ccc;
  font-size: 12px;
  text-align: right;
}
.myworkmates .bottomBtn,
.addworkmates .bottomBtn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 165px;
  margin: auto;
  text-align: center;
  background-color: #e74f3a;
  color: #fff;
  margin-top: 40px;
}
.myworkmates .addCash,
.addworkmates .addCash {
  position: fixed;
  bottom: 20px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #e74f3a;
  text-decoration: underline;
}
.messageShowBox {
  border-bottom: 1px solid #eee;
}
.messageShowBox a {
  display: block;
}
.messageShowBox .messageShowContent {
  padding: 10px 15px;
  background-color: #fff;
  padding-right: 0;
  padding-bottom: 0;
}
.messageShowBox .messageShowContent .userTop {
  width: 100%;
  padding-left: 40px;
  position: relative;
}
.messageShowBox .messageShowContent .userTop .leftImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin-top: 6px;
}
.messageShowBox .messageShowContent .userTop .leftImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.messageShowBox .messageShowContent .userTop .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 10px;
  right: 10px;
}
.messageShowBox .messageShowContent .userTop .rightContent {
  border-bottom: 1px solid #eee;
}
.messageShowBox .messageShowContent .userTop .rightContent .rightContent_1 {
  padding-bottom: 10px;
}
.messageShowBox .messageShowContent .userTop .rightContent .rightTitle {
  font-size: 16px;
  color: #333;
}
.messageShowBox .messageShowContent .userTop .rightContent .rightPara {
  font-size: 12px;
  color: #999;
}
.messageShowBox .messageShowContent .userTop .redNum {
  height: 20px;
  width: 20px;
  background-color: #e74f3a;
  display: inline-block;
  position: absolute;
  right: 28px;
  top: 9px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.messageShowBox .messageShowContent .userTop .timeShow {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 10px;
  color: #999;
}
.messageShowBox .messageShowContent:last-child .rightContent {
  border: none;
}
.messageShowBox .mui-table-view-cell:after {
  left: 55px;
}
.messageShowBox .mui-table-view-cell .timeShow {
  position: absolute;
  top: 11px;
  right: 15px;
  font-size: 10px;
  color: #999;
}
.messageShowBox .mui-table-view-cell .timeShow {
  position: absolute;
  top: 11px;
  right: 15px;
  font-size: 10px;
  color: #999;
}
a .mui-table-view-cell:after {
  height: 1px!important
	;
}
.messageShowBox ul > a:last-child .mui-table-view-cell:after {
  height: 0px!important;
}
.messageShowBox ul:before {
  height: 0px;
}
.detailBox {
  padding: 10px 15px;
}
.detailBox .topTitle {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}
.detailBox .date {
  font-size: 10px;
  color: #999;
  margin-bottom: 12px;
}
.detailBox .para {
  width: 100%;
}
.detailBox .para img {
  display: block;
  width: 100%;
  height: 180px;
  margin-bottom: 14px;
}
.detailBox .para .innerPara {
  font-size: 14px;
  color: #999;
  text-indent: 2em;
}
.company_list .workmatesList {
  background-color: #fff;
}
.company_list .workmatesList a {
  display: block;
  border-bottom: 1px solid #eee;
}
.company_list .workmatesList .workmateItems {
  padding: 10px 15px;
}
.company_list .workmatesList .workmateItems .rightContent {
  float: left;
  position: relative;
  width: 100%;
  height: 20px;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 {
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle {
  font-size: 14px;
  color: #666;
  padding-bottom: 5px;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .rightTitle span {
  color: #333;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara {
  font-size: 14px;
  color: #666;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .rightPara span {
  color: #333;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .lookMore {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 0px;
  right: 0;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .redNum {
  height: 18px;
  width: 18px;
  background-color: #e74f3a;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 0px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}
.company_list .workmatesList .workmateItems .rightContent .rightContent_1 .commoNum {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 12px;
  color: #666;
}
.company_list .workmatesList .workmateItems:after {
  display: block;
  content: '';
  clear: both;
}
.company_list .workmatesList .workmateItems:last-child {
  border: none;
}
.company_list_ .redNum {
  height: 18px;
  width: 18px;
  background-color: #e74f3a;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 13px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}
.company_list_ .commoNum {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 12px;
  font-size: 12px;
  color: #666;
}
.company_list_ .mui-table-view-cell .rightPara {
  font-size: 14px;
  color: #666;
}
.company_list_ .mui-table-view-cell .rightPara span {
  color: #333;
}
.company_list_ .mui-table-view-cell:after {
  left: 0;
}
.monitor_detail .mui-table-view {
  margin-top: 0;
}
.monitor_detail .leftImg {
  float: left;
  width: 29%;
  height: 70px;
}
.monitor_detail .leftImg img {
  display: block;
  width: 100%;
  height: 100%;
}
.monitor_detail .rightContent {
  float: left;
  margin-left: 15px;
}
.monitor_detail .rightContent .rightTitle {
  margin-bottom: 11px;
  margin-top: 11px;
  font-size: 16px;
  color: #666;
}
.monitor_detail .rightContent .rightPara {
  color: #999;
  font-size: 14px;
}
.monitor_detail:after {
  display: block;
  content: '';
  clear: both;
}
.accountBalanceBox .topShow {
  background-image: linear-gradient(-180deg, #e74f3a 0%, #e88274 100%);
  width: 100%;
  height: 150px;
  position: relative;
}
.accountBalanceBox .topShow .para_1 {
  padding-top: 20px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.accountBalanceBox .topShow .para_2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 9px;
  text-align: center;
}
.accountBalanceBox .topShow .para_3 {
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.accountBalanceBox .topShow .bottomBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}
.accountBalanceBox .topShow .bottomBtn span {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  padding-bottom: 14px;
}
.accountBalanceBox .listName {
  padding: 9px 15px;
  font-size: 12px;
  color: #999;
}
.accountBalanceBox .mui-table-view .mui-table-view-cell .cashShow {
  position: absolute;
  right: 15px;
  top: 21px;
  font-size: 16px;
  color: #333;
}
.accountBalanceBox .mui-table-view .mui-table-view-cell .para_ {
  font-size: 14px;
  color: #333;
}
.accountBalanceBox .mui-table-view .mui-table-view-cell .date {
  font-size: 12px;
  color: #999;
}
.cash_detail a {
  display: block;
}
.cash_detail .listNew {
  margin-top: 10px;
}
.cash_detail .mui-table-view-cell {
  padding-bottom: 0;
}
.cash_detail .mui-table-view-cell:last-child {
  padding-bottom: 10px;
}
.cash_detail .mui-table-view-cell:after {
  height: 0;
}
.cash_detail .leftName {
  font-size: 14px;
  color: #666;
}
.cash_detail .showProcess {
  width: 100%;
  padding-top: 10px;
}
.cash_detail .showProcess:after {
  display: block;
  content: '';
  clear: both;
}
.cash_detail .showProcess.finished .leftPart_1:after {
  border-top: 1px dashed #ccc;
  content: '';
  position: absolute;
  width: 100px;
  right: -50px;
  top: 28px;
}
.cash_detail .showProcess .leftPart {
  float: left;
  width: 50%;
  position: relative;
}
.cash_detail .showProcess .leftPart .date {
  text-align: center;
  color: #e74f3a;
  font-size: 12px;
}
.cash_detail .showProcess .leftPart .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e74f3a;
  text-align: center;
  line-height: 60px;
  font-size: 12px;
  color: #e74f3a;
  margin: auto;
  margin-bottom: 10px;
}
.cash_detail .showProcess .leftPart_1:after {
  content: '';
  position: absolute;
  width: 100px;
  right: -50px;
  top: 28px;
  height: 1px;
  background: -webkit-linear-gradient(90deg, #e74f3a, #f5a623);
}
.cash_detail .showProcess .yellow .circle {
  border-color: #f5a623;
  color: #f5a623;
}
.cash_detail .showProcess .yellow .date {
  color: #f5a623;
}
.cash_detail .showProcess .grey .circle {
  border-color: #ccc;
  color: #ccc;
}
.cash_detail .showProcess .grey .date {
  color: #ccc;
}
.cash_detail .rightName {
  font-size: 14px;
  color: #333;
  position: absolute;
  right: 15px;
}
.cash_detail .rightName_ {
  font-size: 12px;
  color: #ccc;
}
.cash_detail .bottomBtn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 165px;
  margin: auto;
  text-align: center;
  background-color: #e74f3a;
  color: #fff;
  margin-top: 40px;
}
.rechargeBox .topPara {
  padding: 6px 15px;
  font-size: 12px;
  color: #999;
}
.rechargeBox .cashBox {
  background-color: #fff;
  padding: 10px 15px;
}
.rechargeBox .cashBox .cashContent {
  width: 100%;
}
.rechargeBox .cashBox .cashContent .cashItem {
  width: 31%;
  height: 70px;
  margin-right: 3%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  float: left;
  margin-bottom: 3%;
  line-height: 70px;
  color: #333;
}
.rechargeBox .cashBox .cashContent .blue {
  border-color: #e74f3a;
  background-color: #fcedeb;
  color: #e74f3a;
}
.rechargeBox .cashBox .cashContent:after {
  display: block;
  content: '';
  clear: both;
}
.rechargeBox .cashBox .cashContent .cashItem:nth-child(3n) {
  margin-right: 0;
}
.rechargeBox .cashBox .cashContent .payIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 5px;
}
.rechargeBox .cashBox .cashContent .payPara {
  font-size: 14px;
  color: #00a9f2;
}
.rechargeBox .bottomBtn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  line-height: 40px;
  width: 165px;
  margin: auto;
  text-align: center;
  background-color: #e74f3a;
  color: #fff;
  margin-top: 40px;
}
.addworkmates {
  padding: 0!important;
}
.show {
  display: block!important;
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0;
}
.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after {
  font-size: 23px;
  right: 10px;
}
.mui-content {
  background-color: #f3f3f3;
}
.mui-poppicker-header .mui-btn {
  font-size: 14px;
  border: none;
  background: transparent;
  color: #0081eb;
}
.mui-picker {
  background-color: #fff;
}
.mui-poppicker {
  background-color: #fff;
}
.mui-poppicker-body {
  border-top: none;
}
.enterHide {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
}
.enterHide input {
  margin: 0;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
.enterHide .button {
  position: absolute;
  right: 0px;
  width: auto;
  color: #999;
  background-color: #fff;
  height: 38px;
  top: 1px;
  padding: 0 15px;
  line-height: 38px;
}
#picture input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  z-index: 1;
  cursor: default;
}
.fix7_5 {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 71.4%;
  background-position: center;
  background-size: cover;
}
.fix7_5.nobackground > img {
  opacity: 1;
}
.fix7_5 > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.photoPreviewBox {
  width: 100%;
  margin-bottom: 0px;
}
.photoPreviewBox .photo {
  width: calc(( 100% - 8px ) / 3);
  margin-bottom: 4px;
  margin-right: 4px;
  float: left;
}
.photoPreviewBox .photo:nth-child(3n) {
  margin-right: 0px;
}
.photoPreviewBox:after {
  display: block;
  content: '';
  clear: both;
}
