<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>视频监控</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/imagepreview.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
</head>
<body>
    <div class="mui-content">
        <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
            <a class="mui-control-item mui-active" href="#item1">
                <span class="listItem_name">知会我的
                    <span class="mui-badge mui-badge-danger right-top">2</span>
                </span>
            </a>
            <a class="mui-control-item" href="#item2">
                <span class="listItem_name">我评论的
                    <span class="mui-badge mui-badge-danger right-top">2</span>
                </span>
            </a>
            <a class="mui-control-item" href="#item3">
                <span class="listItem_name">全部
                    <span class="mui-badge mui-badge-danger right-top">2</span>
                </span>
            </a>
        </div>
        <div id="item1" class="mui-control-content mui-active">
            <div id="scroll" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view no-padding-list">
                        <li class="" v-for="dynamic in informedDynamicList">
                            <div class="messageBox">
                                <div class="leftImg">
                                    <img :src="dynamic.user.photo">
                                </div>
                                <div class="rightContent">
                                    <div class="rightContent_1">
                                        <p class="rightTitle">{{dynamic.user.name}}</p>
                                        <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                        <div class="photoPreviewBox flex flex-space-between flex-wrap">
                                            <template v-for="photoUrl in dynamic.photo">
                                            <div class="flex-item photo">
                                                <div class="fix7_5">
                                                    <img :src="photoUrl" alt="" data-preview-src="" data-preview-group="{{dynamic.id}}">
                                                </div>
                                            </div>
                                            </template>
                                        </div>
                                        <div class="tips">
                                            <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                            <img @tap="beginComment(dynamic);" src="../source/img/message.png">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="comment" v-if="dynamic.comment.length > 0">
                                <div class="commentBox" v-for="cmt in dynamic.comment">
                                    <div class="leftImg">
                                        <img :src="cmt.user.photo">
                                        <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                                    </div>
                                    <div class="rightContent">
                                        <div class="rightContent_1">
                                            <p class="rightPara wordbreak">{{cmt.text}}</p>
                                            <div class="tips">
                                                <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="item2" class="mui-control-content">
            <ul class="mui-table-view no-padding-list">
                <li class="" v-for="dynamic in commentDynamicList">
                    <div class="messageBox">
                        <div class="leftImg">
                            <img :src="dynamic.user.photo">
                        </div>
                        <div class="rightContent">
                            <div class="rightContent_1">
                                <p class="rightTitle">{{dynamic.user.name}}</p>
                                <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                <div class="photoPreviewBox flex flex-space-between flex-wrap">
                                    <template v-for="photoUrl in dynamic.photo">
                                    <div class="flex-item photo">
                                        <div class="fix7_5">
                                            <img :src="photoUrl" alt="" data-preview-src="" data-preview-group="{{dynamic.id}}">
                                        </div>
                                    </div>
                                    </template>
                                </div>
                                <div class="tips">
                                    <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                    <img @tap="beginComment(dynamic);" src="../source/img/message.png">
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="comment" v-if="dynamic.comment.length > 0">
                        <div class="commentBox" v-for="cmt in dynamic.comment">
                            <div class="leftImg">
                                <img :src="cmt.user.photo">
                                <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                            </div>
                            <div class="rightContent">
                                <div class="rightContent_1">
                                    <p class="rightPara wordbreak">{{cmt.text}}</p>
                                    <div class="tips">
                                        <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>  
        <div id="item3" class="mui-control-content">
            <ul class="mui-table-view no-padding-list">
                <li class="" v-for="dynamic in dynamicList">
                    <div class="messageBox">
                        <div class="leftImg">
                            <img :src="dynamic.user.photo">
                        </div>
                        <div class="rightContent">
                            <div class="rightContent_1">
                                <p class="rightTitle">{{dynamic.user.name}}</p>
                                <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                <div class="photoPreviewBox">
                                    <template v-for="photoUrl in dynamic.photo">
                                    <div class="photo">
                                        <div class="fix7_5">
                                            <img :src="photoUrl" alt="" data-preview-src="" data-preview-group="{{dynamic.id}}">
                                        </div>
                                    </div>
                                    </template>
                                </div>
                                <div class="tips">
                                    <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                    <img @tap="beginComment(dynamic);" src="../source/img/message.png">
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="comment" v-if="dynamic.comment.length > 0">
                        <div class="commentBox" v-for="cmt in dynamic.comment">
                            <div class="leftImg">
                                <img :src="cmt.user.photo">
                                <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                            </div>
                            <div class="rightContent">
                                <div class="rightContent_1">
                                    <p class="rightPara wordbreak">{{cmt.text}}</p>
                                    <div class="tips">
                                        <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mui-input-row enterHide" v-show="showInput">
        <input v-model="commentValue" type="text" placeholder="请输入评论...">
        <div class="button" @tap="sendComment();">发送</div>
    </div>
</body>
<script src="../source/mui/js/mui.zoom.js"></script>
<script src="../source/mui/js/mui.previewimage.js"></script>
<script>
$(function() {
    mui.init();
    mui('#scroll').scroll({
        indicators: true //是否显示滚动条
    });
    mui.previewImage();
    var vm = new Vue({
        el: "body",
        data: {
            showInput: false,
            focusDynamicId: 0,
            commentValue: "",
            dynamicList: [],
            informedDynamicList: [],
            commentDynamicList: []
        },
        computed: {
            
        },
        methods: {
            beginComment: function(dynamic){
                var self = this;
                self.showInput = true;
                self.focusDynamic = dynamic;
            },
            sendComment: function(){
                var self = this;
                $.when(commentDynamicByDynamicId(self.focusDynamic.id,self.commentValue)).done(function(data){
                    if(data.state == 0){
                        self.refreshDynamicById(self.focusDynamic);
                    }
                });
            },
            refreshDynamicById: function(dynamic){
                $.when(getDynamicById(dynamic.id)).done(function(data){
                    if(data.state == 0){
                        dynamic.comment = data.data.comment;
                    }
                })
            }
        },
        created: function() {
            var self = this;
            var queryData = getQueryData();
            $.when(getAllCompanyDynamic()).done(function(data){
                if(data.state == 0){
                    self.dynamicList = data.data;
                }
            });
            $.when(getInformedDynamic()).done(function(data){
                if(data.state == 0){
                    self.informedDynamicList = data.data;
                }
            });
            $.when(getCommentDynamic()).done(function(data){
                if(data.state == 0){
                    self.commentDynamicList = data.data;
                }
            })
        },
        ready: function() {
        }
    })
});
</script>
<script type="text/javascript">
    // var obj={};
    // function getResults(data,seletor){
    //     for(var i=0;i<data.length;i++){
    //         var comment=data[i].comment;
    //         var item=$(' <li class="mui-table-view-cell" data-object='+data[i]+'>'+
    //                             '<div class="messageBox">'+
    //                                 '<div class="leftImg">'+
    //                                     '<img src="../source/img/q.png">'+
    //                                 '</div>'+
    //                                 '<div class="rightContent">'+
    //                                     '<div class="rightContent_1">'+
    //                                         '<p class="rightTitle">月风溪</p>'+
    //                                         '<p class="rightPara">用户发布的内容！</p>'+
    //                                         '<img src="../source/img/0.png" alt="" data-preview-src="" data-preview-group="4" class="articlePic">'+
    //                                         '<img src="../source/img/1.png" alt="" data-preview-src="" data-preview-group="4" class="articlePic">'+
    //                                         '<img src="../source/img/2.png" alt="" data-preview-src="" data-preview-group="4" class="articlePic articlePic_">'+
    //                                         '<p class="tips">'+
    //                                             '<span class="leftTips">刚刚</span>'+
    //                                             '<img src="../source/img/message.png" class="mesIcon">'+
    //                                         '</p>'+
    //                                     '</div>'+ 
    //                                 '</div>'+
    //                             '</div>'+
    //                             '<div class="comment">'+
    //                             '</div>'+
    //                         '</li>');
    //         item.children(".messageBox").find(".rightTitle").val(data[i].user);
    //         item.children(".messageBox").find(".rightPara").val(data[i].text);
    //         for(var j=0;j<comment.length;j++){
    //             var comment=$('<div class="commentBox">'+
    //                         '<div class="leftImg">'+
    //                             '<img src="../source/img/q.png">'+
    //                         '</div>'+
    //                         '<div class="rightContent">'+
    //                             '<div class="rightContent_1">'+
    //                                 '<p class="rightPara">用户发布的内容！</p>'+
    //                                 '<p class="tips">'+
    //                                     '<span class="leftTips"></span>'+
    //                                 '</p>'+
    //                             '</div>'+
    //                         '</div>'+
    //                     '</div>');
    //             comment.find(".rightPara").text(comment[j].text);
    //             comment.find(".leftTips").text(comment[j].in_time);
    //             item.children(".comment").append(comment);
    //         }
    //         $(selector).children("ul").append(item);
    //     }
    // }
    // $.when(getAllActicities()).done(function(data){
    //     getResults(data,"#item3");
    // })
    // $.when(getCommentActivities()).done(function(data){
    //     getResults(data,"#item2");
    // })
    // $.when(getInformActivities()).done(function(data){
    //     getResults(data,"#item1");
    // })
    // $(".mui-control-content").on("tap",".mesIcon",function(){
    //     // $(".enterHide").addClass("show");
    //     obj={};
    //     obj=$(this).parents(".mui-table-view-cell").attr("data-object");
    //     $(".enterHide").children("input").focus();
    //     $(".enterHide").animate({bottom:0},500);
    // })
    // $(".enterHide").one("tap","#deliver",function(){
    //     var dynamic=obj;
    //     var text=$("#enterContent").val();
    //     $.when(deliverComment(text,dynamic)).done(function(data){
    //         if(data.state==0){
    //             alert("评论成功！");
    //         }
    //         else{

    //         }
    //         $(".enterHide").animate({bottom:'-40px'},500);
    //     })
    // })
</script>
</html>
