<!DOCTYPE html>  
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>b端，动态>公司列表</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/public_b.js"></script>

</head>
<style type="text/css">
    body{
        background-color: #f3f3f3;
    }
</style>
<body>
    <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell" v-for="child in list" @tap="companyTap(child.id,child.dynamic,child.comment)" v-show="child.enable">
                    <a class="mui-navigate-right">
                        <span class="mui-h5">{{child.name}}</span>
                        <span class="mui-badge mui-badge-danger" v-if="child.comment + child.dynamic>0">{{child.comment + child.dynamic}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
$(function() {
    var vm = new Vue({
        el: "body",
        data: {
            list:[]
        },
        computed: {
            hasFinishOfGetNumber: function(){
                var self = this;
                if(self.newDynamicNumberObjLength == self.children.length && self.newCommentDynamicNumberObjLength == self.children.length){
                    var newDynamicNumber = 0, newCommentDynamicNumber = 0;
                    for(i in self.newDynamicNumberObj){
                        newDynamicNumber += self.newDynamicNumberObj[i];
                    }
                    for(j in self.newCommentDynamicNumberObj){
                        newCommentDynamicNumber += self.newCommentDynamicNumberObj[j];
                    }
                    window.location.href="Object:"+encodeObj({'newDynamicNumber':newDynamicNumber+newCommentDynamicNumber});
                    return true;
                }
                else{
                    return false;
                }
            }
        },
        methods: {
            companyTap: function(companyId,dynamic,comment){
                setCompanyDynamicLastStamp(companyId,new Date() - 0).done(function(){
                    window.location.href="company_activity.html?"+encodeObj({'companyId':companyId, 'newDynamicNumber':dynamic,'newCommentDynamicNumber':comment})
                });
            },
            getNumberOfCompanyDynamic: function(companyId, name, enable){
                // 根据companyId获得上次浏览时间
                return Promise.resolve(getCompanyDynamicLastStamp(companyId)).then(function(data){
                    var stamp = data.data[0];
                    stamp = stamp? stamp: 0;

                    return Promise.resolve(getNumberOfCompanyDynamicByCompanyIdAndStamp(companyId, stamp))
                }).then(function(data){
                    var number = data.data;
                    return Promise.resolve({
                        id: companyId,
                        dynamic: number,
                        name: name,
                        enable: enable
                    })
                })
            },
            getNumberOfCompanyCommentDynamic: function(companyId, name, enable){
                return Promise.resolve(getCompanyCommentDynamicLastStamp(companyId)).then(function(data){
                    var stamp = data.data[0];
                    stamp = stamp? stamp: 0;

                    return Promise.resolve(getNumberOfCompanyCommentDynamicByCompanyIdAndStamp(companyId, stamp))
                }).then(function(data){
                    var number = data.data;
                    return Promise.resolve({
                        id: companyId,
                        comment: number,
                        name: name,
                        enable: enable
                    })
                })
                var self = this;
            },
            reloadCompanyList: function(){
                var self = this;
                var totalNumber = 0;
                Promise.resolve(b_getAllCompany()).then(function(data){
                    if(data.state == 0){
                        self.children = data.data;
                        var p_s = []
                        for(var i = 0, length = self.children.length; i < length; i++){
                            var name = data.data[i].name
                            var enable = data.data[i].enable
                            p_s.push(self.getNumberOfCompanyDynamic(self.children[i].id, name,enable))
                            p_s.push(self.getNumberOfCompanyCommentDynamic(self.children[i].id, name,enable))
                        }

                        Promise.all(p_s).then(function(comments){
                            var ret = {}
                            comments.forEach(function(comment){
                                var id = comment.id
                                ret[id] = ret[id] || {
                                    dynamic: 0,
                                    comment: 0,
                                    name: comment.name,
                                    enable: comment.enable
                                }
                                ret[id].dynamic = (ret[id].dynamic || comment.dynamic || 0)
                                ret[id].comment = (ret[id].comment || comment.comment || 0)
                                totalNumber += (ret[id].dynamic + ret[id].comment);
                            })
                            window.location.href="Object:"+encodeObj({'newDynamicNumber':totalNumber});
                            self.list = [];
                            Object.keys(ret).forEach(function(key){
                                self.list.push({
                                    id: key,
                                    dynamic: ret[key].dynamic,
                                    comment: ret[key].comment,
                                    name: ret[key].name,
                                    enable: ret[key].enable
                                })
                            });
                            mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
                        });
                    }
                });
            }
        },
        created: function() {
            var self = this;
            self.reloadCompanyList();

        },
        ready: function() {
            var self = this;
            mui.init({
                pullRefresh: {
                    container: '#pullrefresh',
                    down: {
                        callback: function(){
                            self.reloadCompanyList();
                        }
                    }
                }
            });
            window.companyTap = this.companyTap;
            window.reloadCompanyList = this.reloadCompanyList;
        }
    })
});
</script>
</html>
