<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>视频监控</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/imagepreview.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/public_b.js"></script>
</head>
<body>
    <div class="mui-content mui-fullscreen">
        <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
            <a class="mui-control-item" href="#item1" :class="{'mui-active': activeIndex == 0}">
                <span class="listItem_name">全部
                    <span class="mui-badge mui-badge-danger right-top">2</span>
                </span>
            </a>
            <a class="mui-control-item" href="#item2" :class="{'mui-active': activeIndex == 1}">
                <span class="listItem_name">我评论的
                    <span class="mui-badge mui-badge-danger right-top">2</span>
                </span>
            </a>
        </div>
        <div id="item1" class="mui-control-content" :class="{'mui-active': activeIndex == 0}">
            <div id="scroll1" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view">
                        <li class="" v-for="dynamic in dynamicList">
                            <div class="messageBox">
                                <div class="leftImg">
                                    <img :src="getResourceById(dynamic.user.photo.id)">
                                </div>
                                <div class="rightContent">
                                    <div class="rightContent_1">
                                        <p class="rightTitle">{{dynamic.user.name}}</p>
                                        <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                        <div class="photoPreviewBox">
                                            <template v-for="photoUrl in dynamic.photo">
                                            <div class="photo">
                                                <div class="fix7_5">
                                                    <img :src="getMinifiedImage(photoUrl.id)" alt="" data-preview-src="{{getResourceById(photoUrl.id)}}" data-preview-group="{{'informed_'+dynamic.id}}">
                                                </div>
                                            </div>
                                            </template>
                                        </div>
                                        <div class="tips">
                                            <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                            <img src="../source/img/message.png">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="comment">
                                <div class="commentBox" v-for="cmt in dynamic.comment">
                                    <div class="leftImg">
                                        <img :src="cmt.user.photo">
                                        <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                                    </div>
                                    <div class="rightContent">
                                        <div class="rightContent_1">
                                            <p class="rightPara wordbreak">{{cmt.text}}</p>
                                            <div class="tips">
                                                <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="item2" class="mui-control-content" :class="{'mui-active': activeIndex == 1}">
            <div id="scroll2" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view">
                        <li class="" v-for="dynamic in commentDynamicList">
                            <div class="messageBox">
                                <div class="leftImg">
                                    <img :src="getResourceById(dynamic.user.photo.id)">
                                </div>
                                <div class="rightContent">
                                    <div class="rightContent_1">
                                        <p class="rightTitle">{{dynamic.user.name}}</p>
                                        <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                        <div class="photoPreviewBox flex flex-space-between flex-wrap">
                                            <template v-for="photoUrl in dynamic.photo">
                                            <div class="photo">
                                                <div class="fix7_5">
                                                    <img src="getMinifiedImage(photoUrl.id)" alt="" data-preview-src="{{getResourceById(photoUrl.id)}}" data-preview-group="{{'informed_'+dynamic.id}}">
                                                </div>
                                            </div>
                                            </template>
                                        </div>
                                        <div class="tips">
                                            <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                            <img src="../source/img/message.png">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="comment">
                                <div class="commentBox" v-for="cmt in dynamic.comment">
                                    <div class="leftImg">
                                        <img :src="cmt.user.photo">
                                        <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                                    </div>
                                    <div class="rightContent">
                                        <div class="rightContent_1">
                                            <p class="rightPara wordbreak">{{cmt.text}}</p>
                                            <div class="tips">
                                                <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
    <div class="mui-input-row enterHide" v-show="showInput">
        <input v-model="commentValue" type="text" placeholder="请输入评论...">
        <div class="button" @tap="sendComment();">发送</div>
    </div>
</body>
<script src="../source/mui/js/mui.zoom.js"></script>
<script src="../source/mui/js/mui.previewimage.js"></script>
<script>
$(function() {
    mui.init();
    mui('#scroll').scroll({
        indicators: true //是否显示滚动条
    });
    mui.previewImage();
    var vm = new Vue({
        el: "body",
        data: {
            showInput: false,
            focusDynamicId: 0,
            commentValue: "",
            dynamicList: [],
            commentDynamicList: [],
            dynamicListStart: 0,
            commentDynamicListStart: 0,
            activeIndex: 0,
            minifiedWidth: 89
        },
        computed: {
        },
        methods: {
            beginComment: function(dynamic){
                var self = this;
                self.showInput = true;
                self.focusDynamic = dynamic;
            },
            sendComment: function(){
                var self = this;
                $.when(commentDynamicByDynamicId(self.focusDynamic.id,self.commentValue)).done(function(data){
                    if(data.state == 0){
                        self.refreshDynamicById(self.focusDynamic);
                    }
                });
            },
            refreshDynamicById: function(dynamic){
                $.when(getDynamicById(dynamic.id)).done(function(data){
                    if(data.state == 0){
                        dynamic.comment = data.data.comment;
                    }
                })
            },
            getNewestCommentDynamic: function(){
                var self = this;
                $.when(getCommentDynamic(0,20)).done(function(data){
                    if(data.state == 0){
                        self.commentDynamicList = data.data;
                        self.commentDynamicListStart ++;
                        mui('#scroll2').pullRefresh().endPulldownToRefresh();
                        if(data.data.length < 20){
                            mui('#scroll2').pullRefresh().endPullupToRefresh(true);
                        }
                    }                
                });
            },
            getMoreCommentDynamic: function(){
                var self = this;
                $.when(getCommentDynamic(self.commentDynamicListStart,20)).done(function(data){
                    if(data.state == 0){
                        self.commentDynamicList = self.commentDynamicList.concat(data.data);
                        self.commentDynamicListStart ++;
                        if(data.data.length < 20){
                            mui('#scroll2').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
            },
            getNewestAllDynamic: function(){
                var self = this;
                $.when(getAllCompanyDynamic(0,20)).done(function(data){
                    if(data.state == 0){
                        self.dynamicList = data.data;
                        self.dynamicListStart ++;
                        mui('#scroll1').pullRefresh().endPulldownToRefresh();
                        if(data.data.length < 20){
                            mui('#scroll1').pullRefresh().endPullupToRefresh(true);
                        }
                    }                
                });
            },
            getMoreAllDynamic: function(){
                var self = this;
                $.when(getAllCompanyDynamic(self.dynamicListStart,20)).done(function(data){
                    if(data.state == 0){
                        self.dynamicList = self.dynamicList.concat(data.data);
                        self.dynamicListStart ++;
                        if(data.data.length < 20){
                            mui('#scroll1').pullRefresh().endPullupToRefresh(true);
                        }
                    }
                })
            },
            positionTo: function(index){
                var self = this;
                self.activeIndex = index;
            }
        },
        created: function() {
            var self = this;
            var queryData = getQueryData();
        },
        ready: function() {
            var self = this;
            mui.init();
            mui.ready(function(){
                mui("#scroll1").pullRefresh({
                    down : {
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            auto: true,//可选,默认false.自动下拉刷新一次
                            self.getNewestAllDynamic();
                        }
                    },
                    up: {
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            self.getMoreAllDynamic();
                        }
                    }
                }).pullupLoading();
                mui("#scroll2").pullRefresh({
                    down : {
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            auto: true,//可选,默认false.自动下拉刷新一次
                            self.getNewestCommentDynamic();
                        }
                    },
                    up: {
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            self.getMoreCommentDynamic();
                        }
                    }
                }).pullupLoading();
            });
            window.positionTo = self.positionTo;
        }
    })
});
</script>
</html>
