<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>视频监控</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/imagepreview.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/public_b.js"></script>
</head>
<body>
    <div class="mui-content mui-fullscreen">
        <div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
            <a class="mui-control-item" href="#item1" :class="{'mui-active': activeIndex == 0}" @tap="tap_all()">
                <span class="listItem_name">全部
                    <span class="mui-badge mui-badge-danger right-top" v-cloak v-if="qd.newDynamicNumber>0">{{qd.newDynamicNumber}}</span>
                </span>
            </a>
            <a class="mui-control-item" href="#item2" :class="{'mui-active': activeIndex == 1}" @tap="tap_comment()">
                <span class="listItem_name">我评论的
                    <span class="mui-badge mui-badge-danger right-top" v-cloak v-if="qd.newCommentDynamicNumber>0">{{qd.newCommentDynamicNumber}}</span>
                </span>
            </a>
        </div>
        <div id="item1" class="mui-control-content" :class="{'mui-active': activeIndex == 0}">
            <div id="scroll1" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view">
                        <li class="" v-for="dynamic in dynamicList">
                            <div class="messageBox">
                                <div class="leftImg">
                                    <img :src="getMinifiedImage(dynamic.user.photo.id,60,60)">
                                </div>
                                <div class="rightContent">
                                    <div class="rightContent_1">
                                        <p class="rightTitle">{{dynamic.user.name}}</p>
                                        <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                        <div class="photoPreviewBox">
                                            <template v-for="photoUrl in dynamic.photo">
                                            <div class="photo">
                                                <div class="fix7_5">
                                                    <img :src="getMinifiedImage(photoUrl.id,minifiedWidth,minifiedHeight)" alt="" data-preview-src="{{getResourceById(photoUrl.id)}}" data-preview-group="{{'all_'+dynamic.id}}">
                                                </div>
                                            </div>
                                            </template>
                                        </div>
                                        <div class="tips">
                                            <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                            <img @tap="beginComment(dynamic);" src="../source/img/message.png">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="comment">
                                <div class="commentBox" v-for="cmt in dynamic.comment">
                                    <div class="leftImg">
                                        <img :src="getMinifiedImage(cmt.user.photo.id,40,40)">
                                        <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                                    </div>
                                    <div class="rightContent">
                                        <div class="rightContent_1">
                                            <p class="rightPara wordbreak">{{cmt.text}}</p>
                                            <div class="tips">
                                                <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="item2" class="mui-control-content" :class="{'mui-active': activeIndex == 1}">
            <div id="scroll2" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view">
                        <li class="" v-for="dynamic in commentDynamicList">
                            <div class="messageBox">
                                <div class="leftImg">
                                    <img :src="getMinifiedImage(dynamic.user.photo.id,60,60)">
                                </div>
                                <div class="rightContent">
                                    <div class="rightContent_1">
                                        <p class="rightTitle">{{dynamic.user.name}}</p>
                                        <p class="rightPara wordbreak">{{dynamic.text}}</p>
                                        <div class="photoPreviewBox">
                                            <template v-for="photoUrl in dynamic.photo">
                                            <div class="photo">
                                                <div class="fix7_5">
                                                    <img :src="getMinifiedImage(photoUrl.id,minifiedWidth,minifiedHeight)" alt="" data-preview-src="{{getResourceById(photoUrl.id)}}" data-preview-group="{{'informed_'+dynamic.id}}">
                                                </div>
                                            </div>
                                            </template>
                                        </div>
                                        <div class="tips">
                                            <span class="leftTips">{{stamp2time(dynamic.in_time)}}</span>
                                            <img @tap="beginComment(dynamic);" src="../source/img/message.png">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="comment">
                                <div class="commentBox" v-for="cmt in dynamic.comment">
                                    <div class="leftImg">
                                        <img :src="getMinifiedImage(cmt.user.photo.id,40,40)">
                                        <h6 class="mui-text-center">{{cmt.user.name}}</h6>
                                    </div>
                                    <div class="rightContent">
                                        <div class="rightContent_1">
                                            <p class="rightPara wordbreak">{{cmt.text}}</p>
                                            <div class="tips">
                                                <span class="leftTips">{{stamp2time(cmt.in_time)}}</span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
    <div class="mui-input-row enterHide" v-show="showInput">
        <input id="commentInput" v-model="commentValue" type="text" placeholder="请输入评论...">
        <div class="button" @tap="sendComment();" :class="{'colorblue':commentValue!=''}">发送</div>
    </div>
</body>
<script src="../source/mui/js/mui.zoom.js"></script>
<script src="../source/mui/js/mui.previewimage.js"></script>
<script>
// 一次多少个数据
var DATALENGTH = 10;
$(function() {
    mui.init();
    mui('#scroll').scroll({
        indicators: true //是否显示滚动条
    });
    mui.previewImage();
    var vm = new Vue({
        el: "body",
        data: {
            newDynamicNumberList: {0: 0, 1: 0},
            showInput: false,
            focusDynamicId: 0,
            commentValue: "",
            dynamicList: [],
            commentDynamicList: [],
            dynamicListStart: 0,
            commentDynamicListStart: 0,
            activeIndex: 0,
            minifiedWidth: 89,
            qd: {}
        },
        computed: {
            minifiedHeight: function(){
                var self = this;
                return parseInt(self.minifiedWidth*5/7);
            }
        },
        methods: {
            beginComment: function(dynamic){
                var self = this;
                self.showInput = true;
                self.focusDynamic = dynamic;
                setTimeout(function(){
                    document.getElementById('commentInput').focus();
                },0);
                window.location.href="h5action:inputFocus";
            },
            inputFocus: function(){
                setTimeout(function(){
                    document.getElementById('commentInput').focus();
                },0);
            },
            sendComment: function(){
                var self = this;
                $.when(commentDynamicByDynamicId(self.focusDynamic.id,self.commentValue)).done(function(data){
                    if(data.state == 0){
                        self.refreshDynamicById(self.focusDynamic);
                    }
                });
            },
            refreshDynamicById: function(dynamic){
                var self = this;
                $.when(getDynamicById(dynamic.id)).done(function(data){
                    if(data.state == 0){
                        dynamic.comment = data.data[0].comment;
                        self.showInput = false;
                        self.commentValue = "";
                    }
                })
            },
            getNewestCommentDynamic: function(){
                var self = this;
                self.commentDynamicList = 0;
                $.when(getCommentDynamicByCompanyId(self.qd.companyId,self.commentDynamicList,DATALENGTH)).done(function(data){
                    if(data.state == 0){
                        self.commentDynamicList = data.data;
                        self.commentDynamicListStart += DATALENGTH;

                        self.tap_comment();

                        mui('#scroll2').pullRefresh().endPulldownToRefresh();
                        if(data.data.length < DATALENGTH){
                            mui('#scroll2').pullRefresh().endPullupToRefresh(true);
                        }
                        else{
                            mui('#scroll2').pullRefresh().endPullupToRefresh(false);
                        }
                    }                
                });
            },
            getMoreCommentDynamic: function(){
                var self = this;
                $.when(getCommentDynamicByCompanyId(self.qd.companyId,self.commentDynamicListStart,DATALENGTH)).done(function(data){
                    if(data.state == 0){
                        self.commentDynamicList = self.commentDynamicList.concat(data.data);
                        self.commentDynamicListStart += DATALENGTH;
                        if(data.data.length < DATALENGTH){
                            mui('#scroll2').pullRefresh().endPullupToRefresh(true);
                        }
                        else{
                            mui('#scroll2').pullRefresh().endPullupToRefresh(false);
                        }
                    }
                })
            },
            getNewestAllDynamic: function(){
                var self = this;
                self.dynamicListStart = 0;
                $.when(getCompanyDynamicByCompanyId(self.qd.companyId,self.dynamicListStart,DATALENGTH)).done(function(data){
                    if(data.state == 0){
                        self.dynamicList = data.data;
                        self.dynamicListStart += DATALENGTH;

                        self.tap_all()

                        mui('#scroll1').pullRefresh().endPulldownToRefresh();
                        if(data.data.length < DATALENGTH){
                            mui('#scroll1').pullRefresh().endPullupToRefresh(true);
                        }
                        else{
                            mui('#scroll1').pullRefresh().endPullupToRefresh(false);
                        }
                    }                
                });
            },
            getMoreAllDynamic: function(){
                var self = this;
                $.when(getCompanyDynamicByCompanyId(self.qd.companyId,self.dynamicListStart,DATALENGTH)).done(function(data){
                    if(data.state == 0){
                        self.dynamicList = self.dynamicList.concat(data.data);
                        self.dynamicListStart += DATALENGTH;
                        if(data.data.length < DATALENGTH){
                            mui('#scroll1').pullRefresh().endPullupToRefresh(true);
                        }
                        else{
                            mui('#scroll1').pullRefresh().endPullupToRefresh(false);
                        }
                    }
                })
            },
            tap_comment: function(){
                setCompanyCommentDynamicLastStamp(this.qd.companyId,new Date() - 0)
                this.qd.newCommentDynamicNumber = 0;
            },
            tap_all: function(){
                setCompanyDynamicLastStamp(this.qd.companyId,new Date() - 0);
                this.qd.newDynamicNumber = 0;
            },
            positionTo: function(index){
                var self = this;
                self.activeIndex = index;
            }
        },
        created: function() {
            var self = this;
            self.qd = getQueryData();
        },
        ready: function() {
            var self = this;
            mui.init();
            mui.ready(function(){
                mui("#scroll1").pullRefresh({
                    down : {
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            self.getNewestAllDynamic();
                        }
                    },
                    up: {
                        auto: true,
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            self.getMoreAllDynamic();
                        }
                    }
                });
                mui("#scroll2").pullRefresh({
                    down : {
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            self.getNewestCommentDynamic();
                        }
                    },
                    up: {
                        auto: true,
                        contentnomore: '没有更多动态了',
                        callback : function(data){
                            self.getMoreCommentDynamic();
                        }
                    }
                });
            });
            
            window.positionTo = self.positionTo;
            window.inputFocus = self.inputFocus;
        }
    })
});
</script>
</html>
