<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>b和c的系统消息</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/public_b.js"></script>
</head>
<style type="text/css">
    body{
        background-color: #f3f3f3;
    }
    .icon-img{
        width: 30px;
        height: 30px!important;
        margin-top: 5px;
    }
    p.mui-ellipsis{
        padding-right: 40px;
    }
</style>
<body>
    <div class="mui-content messageShowBox">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell mui-media" v-for="announce in announces" v-show="announce.text !=''">
                <a class="mui-navigate-right" href="{{'message_center.html?'+encodeObj({'title':announce.title})}}">
                    <img :src="announce.image" class="mui-media-object mui-pull-left head-img icon-img">
                    <div class="mui-media-body">
                        {{announce.title}}
                        <p class="mui-ellipsis">{{announce.text | textify}}</p>
                    </div>
                    <span class="mui-badge mui-badge-danger" v-if="announce.unread>0">{{announce.unread}}</span>
                </a>
            </li>
        </ul>
    </div>
</body>
<script>
var dataListB = [{
    image: "../source/img/warning.png",
    title: "异常警告",
    text: "暂无消息",
    in_time: 0,
    unread: 0
},{
    image: "../source/img/register.png",
    title: "注册通知",
    text: "暂无消息",
    in_time: 0,
    unread: 0
},{
    image: "../source/img/system.png",
    title: "系统通告",
    text: "暂无消息",
    in_time: 0,
    unread: 0
},{
    image: "../source/img/drawCash.png",
    title: "提现通知",
    text: "暂无消息",
    in_time: 0,
    unread: 0
},{
    image: "../source/img/addCash.png",
    title: "充值通知",
    text: "暂无消息",
    in_time: 0,
    unread: 0
},{
    image: "../source/img/deadline.png",
    title: "设备到期",
    text: "暂无消息",
    in_time: 0,
    unread: 0
}];
var dataListC = [{
    image: "../source/img/warning.png",
    title: "异常警告",
    text: "暂无消息",
    in_time: 0,
    unread: 0
},{
    image: "../source/img/system.png",
    title: "系统通告",
    text: "暂无消息",
    in_time: 0,
    unread: 0
}];
$(function() {
    mui.init();
    var vm = new Vue({
        el: "body",
        data: {
            announces: [],
            unread_total: 0
        },
        computed: {
            
        },
        methods: {
            getNewestAbnormalAnnounce: function(title,text,in_time,unread){
                var aa = {
                    image: "../source/img/warning.png",
                    title: title?title:"异常警告",
                    text: text?text:"暂无消息",
                    in_time: in_time?in_time:0,
                    unread: unread?unread:0
                };
                return aa;
            },
            getUnreadAndCount: function(object){
                var def1, def2;
                var self = this;
                self.unread_total = 0;
                if(object.title == "系统通告"){
                    def1 = getAnnounceUnread();
                    def2 = getAnnounceUnreadCount();
                }
                else if(object.title == "异常警告"){
                    def1 = getWarningUnread();
                    def2 = getWarningUnreadCount();
                }
                else{
                    def1 = getMessageUnread(object.title);
                    def2 = getMessageUnreadCount(object.title);
                }
                return Promise.resolve(def1).then(function(data1){
                    if(data1.data && data1.data[0]){
                        if(object.title != "异常警告"){
                            object.text = data1.data[0].text;
                        }
                        else{
                            object.text = "设备号:"+data1.data[0].device_code+"发现异常";
                        }
                    }
                    return Promise.resolve(def2);
                }).then(function(data2){
                    object.unread = data2.data || 0;
                    self.unread_total += object.unread;
                    return Promise.resolve(object);
                });
            },
            reloadMessage: function(title,text,in_time,unread){
                var self = this;
                self.announces = (getUser_Type() === "b")?dataListB:dataListC;
                var ajaxlist = [];
                // 创建异步队列
                for(var index in self.announces){
                    ajaxlist.push(self.getUnreadAndCount(self.announces[index]));
                }
                Promise.all(ajaxlist).then(function(results){
                    window.location.href="object:"+encodeObj({
                        "newMessageNumber": self.unread_total
                    });
                })
            }
        },
        created: function() {
            var self = this;
        },
        ready: function(){
            window.reloadMessage = this.reloadMessage;
        }
    })
});
</script>
</html>
