<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>视频监控</title>
    <link rel="stylesheet" href="../source/mui/css/mui.css">
    <link rel="stylesheet" href="../source/css/init.css">
    <link rel="stylesheet" href="../source/css/public.css">
    <script src="../source/js/jquery-1.11.1.min.js"></script>
    <script src="../source/mui/js/mui.js"></script>
    <script src="../source/js/ajax_b.js"></script>
    <script src="../source/js/vue.js"></script>
    <script src="../source/js/vue-tap.js"></script>
    <script src="../source/js/public.js"></script>
    <script src="../source/js/public_b.js"></script>
</head>
<style type="text/css">
    body{
        background-color: #f3f3f3;
    }
    .icon-img{
        width: 30px;
        height: 30px !important;
        margin-top: 5px;
    }
    div.unread{
        display: inline-block;
        border-radius: 5px;
        width: 10px;
        height: 10px;
        background-color: red;
    }
</style>
<body>
    <div class="mui-content messageShowBox">
        <div id="scroll" class="mui-scroll-wrapper">
            <div class="mui-scroll">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell" v-for="announce in announces">
                        <a @tap="goDetail(announce.id)">
                            <img :src="images[title]" class="mui-media-object mui-pull-left head-img icon-img">
                            <div class="mui-media-body">
                                <div class="unread" v-if="!announce.reading"></div>
                                {{title}}
                                <p class="mui-ellipsis" v-if="title != '异常警告'">
                                    {{announce.text|textify}}
                                </p>
                                <p class="mui-ellipsis" v-else>
                                    设备号:{{announce.device_code}}发现异常
                                </p>
                                <div class="timeShow" v-if="title != '异常警告'">
                                    {{stamp2formatTime2(announce.in_time)}}
                                </div>
                                <div class="timeShow" v-else>
                                    {{stamp2formatTime2(announce.time)}}
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
var DATALENGTH = 20;
$(function() {
    if(getQueryData() === ""){
        window.location.href="message.html";
    }
    mui.init();
    var vm = new Vue({
        el: "body",
        data: {
            announces: [],
            title: getQueryData().title,
            images: {
                "异常警告": "../source/img/warning.png",
                "注册通知": "../source/img/register.png",
                "系统通告": "../source/img/system.png",
                "提现通知": "../source/img/drawCash.png",
                "充值通知": "../source/img/addCash.png",
                "设备到期": "../source/img/deadline.png",
                "动态更新": "../source/img/motivation_.png"
            },
            dynamicListStart: 0
        },
        methods: {
            goDetail: function(announceId){
                var self = this;
                window.location.href = 'message_detail.html?'+encodeObj({'id':announceId,'title':self.title});
            },
            getNewestDynamic: function () {
                var self = this;
                self.dynamicListStart = 0;
                if(self.title=="系统通告"){
                    $.when(getAnnounceFixedLength(self.dynamicListStart,DATALENGTH)).done(function(data){
                        if(data.state == 0){
                            self.announces = data.data;
                            self.dynamicListStart += DATALENGTH;

                            mui('#scroll').pullRefresh().endPulldownToRefresh();
                            if(data.data.length < DATALENGTH){
                                mui('#scroll').pullRefresh().endPullupToRefresh(true);
                            }
                            else{
                                mui('#scroll').pullRefresh().endPullupToRefresh(false);
                            }
                        }                
                    });
                }
                else if(self.title == "异常警告"){
                    $.when(getWarningFixedLength(self.dynamicListStart, DATALENGTH)).done(function(data){
                        if(data.state == 0){
                            self.announces = data.data;
                            self.dynamicListStart += DATALENGTH;

                            mui('#scroll').pullRefresh().endPulldownToRefresh();
                            if(data.data.length < DATALENGTH){
                                mui('#scroll').pullRefresh().endPullupToRefresh(true);
                            }
                            else{
                                mui('#scroll').pullRefresh().endPullupToRefresh(false);
                            }
                        }
                    })
                }
                // else if(self.title=="动态更新"){
                //     $.when(getDynamicFixedLength(self.dynamicListStart,DATALENGTH)).done(function(data){
                //         if(data.state == 0){
                //             self.announces = data.data;
                //             self.dynamicListStart += DATALENGTH;

                //             mui('#scroll').pullRefresh().endPulldownToRefresh();
                //             if(data.data.length < DATALENGTH){
                //                 mui('#scroll').pullRefresh().endPullupToRefresh(true);
                //             }
                //             else{
                //                 mui('#scroll').pullRefresh().endPullupToRefresh(false);
                //             }
                //         }                
                //     });
                // }
                else{
                    $.when(getMessageFixedLength(self.title,self.dynamicListStart,DATALENGTH)).done(function(data){
                        if(data.state == 0){
                            self.announces = data.data;
                            self.dynamicListStart += DATALENGTH;

                            mui('#scroll').pullRefresh().endPulldownToRefresh();
                            if(data.data.length < DATALENGTH){
                                mui('#scroll').pullRefresh().endPullupToRefresh(true);
                            }
                            else{
                                mui('#scroll').pullRefresh().endPullupToRefresh(false);
                            }
                        }                
                    });
                }
            },
            getMoreDynamic: function () {
                var self = this;
                if(self.title=="系统通告"){
                    $.when(getAnnounceFixedLength(self.dynamicListStart,DATALENGTH)).done(function(data){
                        if(data.state == 0){
                            self.announces = self.announces.concat(data.data);
                            self.dynamicListStart += DATALENGTH;

                            if(data.data.length < DATALENGTH){
                                mui('#scroll').pullRefresh().endPullupToRefresh(true);
                            }
                            else{
                                mui('#scroll').pullRefresh().endPullupToRefresh(false);
                            }
                        }                
                    });
                }
                else if(self.title == "异常警告"){
                    $.when(getWarningFixedLength(self.dynamicListStart,DATALENGTH)).done(function(data){
                        if(data.state == 0){
                            self.announces = self.announces.concat(data.data);
                            self.dynamicListStart += DATALENGTH;

                            if(data.data.length < DATALENGTH){
                                mui('#scroll').pullRefresh().endPullupToRefresh(true);
                            }
                            else{
                                mui('#scroll').pullRefresh().endPullupToRefresh(false);
                            }
                        }                
                    });
                }
                // else if(self.title=="动态更新"){
                //     $.when(getDynamicFixedLength(self.dynamicListStart,DATALENGTH)).done(function(data){
                //         if(data.state == 0){
                //             self.announces = self.announces.concat(data.data);
                //             self.dynamicListStart += DATALENGTH;

                //             if(data.data.length < DATALENGTH){
                //                 mui('#scroll').pullRefresh().endPullupToRefresh(true);
                //             }
                //             else{
                //                 mui('#scroll').pullRefresh().endPullupToRefresh(false);
                //             }
                //         }                
                //     });
                // }
                else{
                    $.when(getMessageFixedLength(self.title,self.dynamicListStart,DATALENGTH)).done(function(data){
                        if(data.state == 0){
                            self.announces = self.announces.concat(data.data);
                            self.dynamicListStart += DATALENGTH;

                            if(data.data.length < DATALENGTH){
                                mui('#scroll').pullRefresh().endPullupToRefresh(true);
                            }
                            else{
                                mui('#scroll').pullRefresh().endPullupToRefresh(false);
                            }
                        }                
                    });
                }
            }
        },
        ready: function() {
            var self = this;            
            mui.init();
            mui.ready(function(){
                mui("#scroll").pullRefresh({
                    down : {
                        callback : function(data){
                            self.getNewestDynamic();
                        }
                    },
                    up: {
                        auto: true,
                        contentnomore: '没有更多消息了',
                        callback : function(data){
                            self.getMoreDynamic();
                        }
                    }
                });
            });
        }
    });
});
</script>
</html>
